@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url("https://fonts.googleapis.com/css?family=Exo+2:400,700,800");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700");
@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2") format("woff2"), url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff") format("woff"); }
@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2") format("woff2"), url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff") format("woff"); }
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

figure {
  margin: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

label {
  font-weight: 400;
  margin-bottom: 0; }

a {
  color: inherit; }
  a:hover {
    color: inherit;
    text-decoration: none; }

.btn {
  padding: 0;
  border-radius: 0;
  border: 0;
  background: none;
  box-shadow: none !important; }

.form-group {
  margin: 0; }

.form-control {
  border-radius: 0;
  box-shadow: none !important; }

.container {
  max-width: 100% !important;
  padding: 0 10px !important; }
  .container .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }

body {
  min-width: 320px;
  font-size: 12px;
  color: #333;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  padding-top: 70px; }

#content {
  padding-bottom: 80px; }

.page-header .lnb-list {
  text-align: center; }
  .page-header .lnb-list .dropdown .btn-secondary {
    width: 100%;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    line-height: 44px;
    padding: 0 10px;
    background-color: #28b690 !important; }
    .page-header .lnb-list .dropdown .btn-secondary:after {
      width: auto;
      float: right;
      border: 0;
      content: "\E802";
      font-family: "fontello"; }
  .page-header .lnb-list .dropdown.show .btn-secondary:after {
    content: "\E808"; }
  .page-header .lnb-list .dropdown .dropdown-menu {
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 0;
    border: 0;
    border-top: 2px solid #fff;
    border-radius: 0;
    transform: translate3d(0, 44px, 0px) !important; }
    .page-header .lnb-list .dropdown .dropdown-menu a {
      font-size: 14px;
      color: #666;
      font-weight: 400;
      margin: 0;
      padding: 0;
      line-height: 45px;
      background-color: #dedede;
      border-bottom: 1px solid #fff; }
      .page-header .lnb-list .dropdown .dropdown-menu a:last-child {
        border-bottom: 0; }
.page-header .page-intro {
  text-align: center;
  padding: 30px 0 40px; }
  .page-header .page-intro h3 {
    font-size: 20px;
    color: #333;
    font-weight: 400; }
  .page-header .page-intro p {
    font-size: 13px;
    color: #666;
    font-weight: 300;
    margin-top: 10px;
    letter-spacing: .5px; }

.ex-title {
  font-size: 15px;
  color: #000;
  font-weight: 400;
  margin-bottom: 10px; }

.tab-menu > ul {
  display: block;
  overflow: hidden; }
  .tab-menu > ul > li {
    float: left;
    width: 50%; }
    .tab-menu > ul > li > a {
      font-size: 13px;
      color: #999;
      line-height: 34px;
      font-weight: 400;
      display: block;
      border: 1px solid #e9e9e9;
      border-right: 0;
      border-bottom: 0;
      text-align: center; }
    .tab-menu > ul > li.active > a {
      color: #fff;
      border-color: #28b690;
      background-color: #28b690; }
    .tab-menu > ul > li:nth-of-type(2) ~ li > a {
      border-bottom: 1px solid #e9e9e9; }
    .tab-menu > ul > li:nth-of-type(2) ~ li.active > a {
      border-color: #28b690; }
    .tab-menu > ul > li:nth-of-type(2n + 2) > a {
      border-right: 1px solid #e9e9e9; }
    .tab-menu > ul > li:nth-of-type(2n + 2).active > a {
      border-color: #28b690; }

.sub-title {
  position: relative;
  font-size: 17px;
  color: #333;
  font-weight: 500;
  padding-left: 12px;
  margin-bottom: 15px; }
  .sub-title:before {
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
    content: " ";
    width: 3px;
    height: 14px;
    background-color: #28b690; }

.square-title {
  position: relative;
  font-size: 14px;
  color: #333;
  font-weight: 400;
  margin-bottom: 15px;
  padding-left: 15px; }
  .square-title:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    background-color: #28b690;
    display: block;
    content: ""; }

.dot-list > li {
  position: relative;
  font-size: 12px;
  color: #666;
  font-weight: 300;
  line-height: 18px;
  padding-left: 10px; }
  .dot-list > li:before {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "fontello";
    content: "\E801"; }
  .dot-list > li ~ li {
    margin-top: 10px; }

.contact-list {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }
  .contact-list > li > dl {
    display: table;
    width: 100%;
    table-layout: fixed; }
    .contact-list > li > dl > dt {
      display: table-cell;
      color: #fff;
      font-size: 13px;
      font-weight: 400;
      width: 140px;
      padding-left: 20px;
      vertical-align: middle;
      line-height: 50px;
      border-bottom: 1px solid #fff;
      background-color: #a1a1a1; }
    .contact-list > li > dl > dd {
      display: table-cell;
      font-size: 14px;
      line-height: 50px;
      font-family: 'Lato', sans-serif;
      vertical-align: middle;
      font-weight: 400;
      padding-left: 20px;
      border-bottom: 1px solid #ccc; }
      .contact-list > li > dl > dd > span {
        display: inline-block;
        font-size: 13px;
        color: #e9193a;
        margin-left: 5px; }
        .contact-list > li > dl > dd > span:before {
          content: "("; }
        .contact-list > li > dl > dd > span:after {
          content: ")"; }
  .contact-list > li:last-child > dl > dt {
    border-bottom: 0; }
  .contact-list > li:last-child > dl > dd {
    border-bottom: 0; }

.table-wrap {
  border: 0; }
  .table-wrap .table {
    table-layout: fixed;
    margin: 0;
    border: 0; }
    .table-wrap .table.table-bordered {
      border-top: 2px solid #28b690; }
    .table-wrap .table tbody tr th {
      font-size: 13px;
      color: #282828;
      font-weight: 400;
      height: 60px;
      vertical-align: middle;
      padding: 0 10px;
      border: 0;
      border-bottom: 1px solid #dfdfdf;
      border-right: 1px solid #dfdfdf; }
    .table-wrap .table tbody tr td {
      font-size: 13px;
      color: #666;
      font-weight: 300;
      line-height: 20px;
      height: 60px;
      vertical-align: middle;
      padding: 0 20px;
      border: 0;
      border-bottom: 1px solid #dfdfdf; }
  .table-wrap.type-1 .table thead tr th {
    height: auto;
    padding: 15px 0;
    font-size: 13px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 0;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #ccc;
    background-color: #28b690; }
    .table-wrap.type-1 .table thead tr th:last-child {
      border-right: 0; }
  .table-wrap.type-1 .table tbody tr td {
    font-size: 12px;
    height: auto;
    color: #666;
    font-weight: 300;
    word-break: keep-all;
    text-align: left;
    line-height: 18px;
    padding: 15px 20px;
    border: 0;
    border-right: 1px solid #979797;
    border-bottom: 1px solid #d6d6d6; }
    .table-wrap.type-1 .table tbody tr td:first-child {
      text-align: center; }
    .table-wrap.type-1 .table tbody tr td:last-child {
      border-right: 0; }
  .table-wrap.type-1 .table tbody tr:nth-of-type(odd) td {
    background-color: #f8f8f8; }

/* circle-number */
.circle-list li {
  position: relative;
  font-size: 13px;
  color: #666;
  font-weight: 300;
  line-height: 18px;
  padding-left: 20px;
  counter-increment: my-list-index; }
  .circle-list li:before {
    position: absolute;
    top: 2px;
    left: 0;
    display: block;
    width: 14px;
    height: 14px;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    color: #fff;
    content: counter(my-list-index);
    border-radius: 50%;
    background-color: #28b690; }
  .circle-list li ~ li {
    margin-top: 20px; }

.search-form .form-group {
  position: relative;
  padding-left: 120px; }
  .search-form .form-group select {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px !important; }
  .search-form .form-group input[type="text"] {
    padding-right: 50px; }
  .search-form .form-group .form-control {
    width: 100%;
    height: 45px;
    color: #999;
    font-size: 13px;
    border: 1px solid #e3e3e3; }
  .search-form .form-group .btn-search {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background-color: #28b690; }
    .search-form .form-group .btn-search .icon-search {
      position: relative;
      top: -1px; }

.default-board-list {
  border-top: 2px solid #8f8f8f; }
  .default-board-list > li > a {
    display: block;
    text-align: left;
    padding: 20px 10px;
    border-bottom: 1px solid #ddd; }
    .default-board-list > li > a > h5 {
      font-size: 15px;
      color: #333;
      line-height: 20px;
      font-weight: 400; }
    .default-board-list > li > a > .board-info {
      margin-top: 20px; }
      .default-board-list > li > a > .board-info > li {
        font-size: 12px;
        color: #666;
        display: inline-block;
        font-family: 'Maven Pro', sans-serif;
        margin-right: 20px; }
        .default-board-list > li > a > .board-info > li:before {
          font-family: "fontello";
          margin-right: 10px; }
        .default-board-list > li > a > .board-info > li:last-child {
          margin-right: 0; }
        .default-board-list > li > a > .board-info > li.date:before {
          content: "\E80A"; }
        .default-board-list > li > a > .board-info > li.count:before {
          content: "\E80B"; }

.default-board-view {
  border-top: 2px solid #8f8f8f;
  border-bottom: 1px solid #8f8f8f; }
  .default-board-view .view-head {
    display: block;
    text-align: left;
    padding: 20px 10px;
    border-bottom: 1px solid #ddd; }
    .default-board-view .view-head > h5 {
      font-size: 15px;
      color: #333;
      line-height: 20px;
      font-weight: 400; }
    .default-board-view .view-head > .board-info {
      margin-top: 20px; }
      .default-board-view .view-head > .board-info > li {
        font-size: 12px;
        color: #666;
        display: inline-block;
        font-family: 'Maven Pro', sans-serif;
        margin-right: 20px; }
        .default-board-view .view-head > .board-info > li:before {
          font-family: "fontello";
          margin-right: 10px; }
        .default-board-view .view-head > .board-info > li:last-child {
          margin-right: 0; }
        .default-board-view .view-head > .board-info > li.date:before {
          content: "\E80A"; }
        .default-board-view .view-head > .board-info > li.count:before {
          content: "\E80B"; }
  .default-board-view .view-content {
    font-size: 13px;
    color: #666;
    font-weight: 300;
    line-height: 18px;
    padding: 35px 10px 60px;
    min-height: 230px; }
  .default-board-view .attach {
    overflow: hidden;
    padding: 15px 0;
    border-top: 1px solid #dfdfdf; }
    .default-board-view .attach dt {
      float: left;
      width: 100px;
      font-size: 13px;
      color: #222;
      font-weight: 400;
      padding-left: 10px; }
      .default-board-view .attach dt:before {
        font-family: "fontello";
        content: "\E80C";
        margin-right: 5px; }
    .default-board-view .attach dd a {
      font-size: 13px;
      color: #666;
      font-weight: 300;
      margin-right: 5px; }
      .default-board-view .attach dd a:after {
        content: ","; }
      .default-board-view .attach dd a:last-child {
        margin: 0; }
        .default-board-view .attach dd a:last-child:after {
          content: ""; }

.board-page-link {
  border-top: 1px solid #606060;
  border-bottom: 1px solid #606060; }
  .board-page-link > li {
    border-bottom: 1px solid #d6d6d6; }
    .board-page-link > li > a > dl {
      display: table;
      table-layout: fixed;
      width: 100%; }
      .board-page-link > li > a > dl > dt {
        text-align: center;
        text-align: left;
        padding: 0 20px;
        font-weight: 300;
        line-height: 50px;
        display: table-cell;
        width: 100px;
        vertical-align: middle; }
        .board-page-link > li > a > dl > dt:after {
          float: right;
          font-family: "fontello"; }
      .board-page-link > li > a > dl > dd {
        display: table-cell;
        line-height: 50px;
        vertical-align: middle;
        font-size: 12px;
        color: #444;
        font-weight: 400;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 10px; }
    .board-page-link > li.prev > a > dl > dt:after {
      content: "\E80D"; }
    .board-page-link > li.next > a > dl > dt:after {
      content: "\E80E"; }
    .board-page-link > li:last-child {
      border-bottom: 0; }

.paging .pagination {
  max-width: 300px;
  margin: 0 auto;
  text-align: center; }
  .paging .pagination > li {
    display: inline-block; }
    .paging .pagination > li > a {
      display: block;
      width: 26px;
      height: 26px;
      line-height: 24px;
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      margin-right: 6px;
      border-radius: 3px;
      border: 1px solid #e1e1e1; }
    .paging .pagination > li.active > a {
      color: #fff;
      border-color: #28b690;
      background-color: #28b690; }
    .paging .pagination > li.first > a {
      font-weight: bold;
      color: #28b690; }
    .paging .pagination > li.prev > a {
      font-weight: bold;
      color: #28b690;
      margin-right: 25px; }
    .paging .pagination > li.next > a {
      font-weight: bold;
      color: #28b690;
      margin-left: 25px; }
    .paging .pagination > li.last > a {
      font-weight: bold;
      color: #28b690;
      margin-right: 0; }

/*# sourceMappingURL=sub.css.map */
