@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Exo+2:400,700,800");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype"); }
/* 초기화 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dt {
    font-weight: 400; }
  dl dd {
    font-weight: 400;
    margin: 0; }

address {
  margin-bottom: 0; }

figure {
  margin-bottom: 0; }

label {
  margin: 0;
  font-weight: 400; }

body {
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  color: #666;
  font-weight: 400;
  min-width: 1200px !important; }

.container {
  max-width: 1200px !important; }

a {
  color: inherit;
  text-decoration: none !important; }
  a:hover {
    color: inherit; }

.btn {
  padding: 0;
  border-radius: 0;
  box-shadow: none !important;
  background: none; }

.form-group {
  margin: 0; }

.form-control {
  border-radius: 0;
  box-shadow: none !important; }

body {
  position: relative;
  min-width: 1200px !important;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #28b690; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 95px;
  line-height: 95px;
  min-width: 1200px;
  z-index: 100; }
  #header .header-wrap {
    position: relative; }
    #header .header-wrap .logo {
      position: absolute;
      top: 0;
      left: 0; }
      #header .header-wrap .logo > a {
        display: inline-block;
        margin-top: 25px; }
        #header .header-wrap .logo > a img {
          vertical-align: top; }
    #header .header-wrap #gnb {
      width: 100%;
      text-align: right;
      padding-right: 200px; }
      #header .header-wrap #gnb ul > li {
        display: inline-block;
        font-size: 19px;
        color: #fff; }
        #header .header-wrap #gnb ul > li:after {
          content: "\E800";
          font-family: "fontello"; }
        #header .header-wrap #gnb ul > li:last-child:after {
          display: none; }
        #header .header-wrap #gnb ul > li > a {
          display: inline-block;
          line-height: 95px;
          font-weight: 300;
          margin: 0 25px; }
    #header .header-wrap .btn-nav {
      position: absolute;
      top: 35px;
      right: 135px;
      text-align: right; }
      #header .header-wrap .btn-nav .bar {
        display: block;
        width: 40px;
        height: 4px;
        border-radius: 5px;
        background-color: #fff;
        margin-top: 4px;
        margin: 4px 0 4px auto; }
        #header .header-wrap .btn-nav .bar:first-child {
          margin: 0; }
        #header .header-wrap .btn-nav .bar:nth-of-type(2) {
          width: 78%; }
        #header .header-wrap .btn-nav .bar:last-child {
          width: 78%; }
      #header .header-wrap .btn-nav:hover .bar:nth-of-type(2) {
        width: 100%;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
      #header .header-wrap .btn-nav:hover .bar:last-child {
        width: 100%;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
  @media (min-width: 1400px) {
    #header .header-wrap #gnb {
      padding-right: 85px; }
    #header .header-wrap .btn-nav {
      right: 0; } }

#content .jumbotron {
  padding: 0;
  margin: 0;
  border-radius: 0;
  background: none; }
  #content .jumbotron li.slick-slide {
    width: 100%;
    height: 998px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 998px; }
  #content .jumbotron .slide-wrap {
    width: 100%;
    position: relative; }
    #content .jumbotron .slide-wrap .slick-list .slick-track .slick-slide figure img {
      width: 100%; }
    #content .jumbotron .slide-wrap .slick-arrow {
      position: absolute;
      bottom: 23px;
      display: block;
      cursor: pointer;
      padding: 0;
      margin: 0;
      font-size: 25px;
      color: #fff;
      border: 0;
      background: none;
      text-align: center;
      outline: none;
      z-index: 1; }
      #content .jumbotron .slide-wrap .slick-arrow.slick-prev {
        left: 50%;
        margin-left: -95px; }
      #content .jumbotron .slide-wrap .slick-arrow.slick-next {
        right: 50%;
        margin-right: -95px; }
    #content .jumbotron .slide-wrap .slick-dots {
      position: absolute;
      left: 50%;
      margin-left: -53px;
      bottom: 30px; }
      #content .jumbotron .slide-wrap .slick-dots li {
        display: inline-block;
        margin-right: 10px; }
        #content .jumbotron .slide-wrap .slick-dots li.slick-active button {
          width: 46px;
          border-radius: 10px;
          background-color: white; }
        #content .jumbotron .slide-wrap .slick-dots li button {
          padding: 0;
          cursor: pointer;
          border: 0;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          outline: none;
          text-indent: -999999px;
          background-color: rgba(255, 255, 255, 0.8); }
        #content .jumbotron .slide-wrap .slick-dots li:last-child {
          margin-right: 0; }
#content .benefit {
  width: 100%;
  height: 665px; }
  #content .benefit.action .benefit-intro > h2 {
    top: 0;
    opacity: 1; }
  #content .benefit.action .benefit-intro p {
    top: 0;
    opacity: 1; }
  #content .benefit.action .benefit-intro .btn-area {
    bottom: 80px;
    opacity: 1; }
  #content .benefit .benefit-intro {
    position: relative;
    /*width: 585px;*/
    float: left;
    width: 30%;
    height: 100%;
    padding: 100px 35px 0 80px;
    background-image: url(/rehabilitate/assets/images/bg_benefit.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #28b690; }
    #content .benefit .benefit-intro > h2 {
      position: relative;
      top: -50px;
      opacity: 0;
      font-size: 60px;
      color: #fff;
      font-weight: 700;
      font-family: 'Exo 2', sans-serif;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1.5s;
      transition-duration: 1.5s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0.25s;
      transition-delay: 0.25s; }
    #content .benefit .benefit-intro > p {
      position: relative;
      top: -50px;
      opacity: 0;
      font-size: 23px;
      color: #fff;
      line-height: 36px;
      font-weight: 300;
      margin-top: 35px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1.5s;
      transition-duration: 1.5s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0.5s;
      transition-delay: 0.5s; }
    #content .benefit .benefit-intro .btn-area {
      position: absolute;
      bottom: 140px;
      left: 80px;
      opacity: 0;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 1s;
      transition-delay: 1s; }
      #content .benefit .benefit-intro .btn-area p .btn {
        display: block;
        width: 250px;
        line-height: 60px;
        font-size: 18px;
        color: #fff;
        text-align: center;
        border: 1px solid #fff;
        border-radius: 30px; }
        #content .benefit .benefit-intro .btn-area p .btn:hover {
          border: 1px solid #e9193a;
          background-color: #e9193a;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
  #content .benefit .benefit-content {
    float: left;
    width: 70%;
    height: 100%;
    background-color: #f4f6f8; }
    #content .benefit .benefit-content ol {
      overflow: hidden;
      width: 100%;
      height: 100%; }
      #content .benefit .benefit-content ol li {
        position: relative;
        display: inline-block;
        width: 470px;
        height: 100%;
        padding-top: 80px;
        margin-left: 30px; }
        #content .benefit .benefit-content ol li:first-child {
          margin-left: 85px; }
        #content .benefit .benefit-content ol li:after {
          position: absolute;
          top: 0;
          right: 55px;
          display: block;
          content: "";
          height: 100%;
          border-left: 1px solid #e4e4e4; }
        #content .benefit .benefit-content ol li strong {
          display: block;
          font-size: 70px;
          color: #2b2b2b;
          opacity: .1;
          font-weight: 700;
          letter-spacing: -4px;
          font-family: 'Roboto', sans-serif; }
        #content .benefit .benefit-content ol li > p {
          font-size: 17px;
          color: #999;
          font-weight: 300; }
          #content .benefit .benefit-content ol li > p > b {
            color: #333;
            font-weight: 500; }
        #content .benefit .benefit-content ol li figure {
          position: relative;
          z-index: 1;
          text-align: right;
          margin-top: 60px; }
  #content .benefit .mCSB_scrollTools_horizontal {
    display: block !important;
    width: 300px !important;
    height: 40px;
    /*margin: 0 auto !important;*/
    margin-left: 270px; }
  #content .benefit #mCSB_1_container {
    margin-bottom: 0;
    width: 2250px;
    height: 100%; }
  #content .benefit .mCSB_dragger {
    width: 18px !important; }
  #content .benefit .mCSB_dragger_bar {
    width: 18px !important;
    height: 18px !important;
    margin-top: 0px !important;
    border-radius: 50% !important;
    background-color: #e2413e !important; }
  #content .benefit .mCSB_draggerRail {
    margin: 8px 0;
    background-color: #e0e3e6;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35) inset; }
#content .rehabilitate {
  text-align: center;
  padding: 110px 0 115px 0;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  background-color: #fff; }
  #content .rehabilitate.action .section-header h2 {
    top: 0;
    opacity: 1; }
  #content .rehabilitate.action .section-header p {
    top: 0;
    opacity: 1; }
  #content .rehabilitate.action .section-content ul {
    top: 0;
    opacity: 1; }
  #content .rehabilitate .section-header h2 {
    position: relative;
    top: -30px;
    opacity: 0;
    font-size: 37px;
    color: #2b2b2b;
    font-weight: 600;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s; }
    #content .rehabilitate .section-header h2 i {
      font-style: normal;
      color: #e9193a; }
  #content .rehabilitate .section-header p {
    position: relative;
    top: -30px;
    opacity: 0;
    font-size: 17px;
    color: #999;
    font-weight: 300;
    margin-top: 25px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s; }
  #content .rehabilitate .section-content {
    margin-top: 80px; }
    #content .rehabilitate .section-content ul {
      position: relative;
      top: 50px;
      opacity: 0;
      font-size: 0;
      height: 290px;
      margin: 0 auto;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 1.5s;
      transition-delay: 1.5s; }
      #content .rehabilitate .section-content ul li {
        display: inline-block;
        /*&:first-child {
        	.items {
        		background-image: url(/rehabilitate/assets/images/img_remedial01.png);
        	}
        }*/ }
        #content .rehabilitate .section-content ul li a {
          display: block;
          width: 100%;
          height: 100%;
          /*width: 204px;
          height: 204px;*/
          text-align: center;
          /*margin-right: 10px;*/ }
          #content .rehabilitate .section-content ul li a .items {
            position: relative;
            overflow: hidden;
            transform: scale(0.85);
            width: 240px;
            height: 240px;
            margin: 0 auto;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            vertical-align: top;
            background-image: url(/rehabilitate/assets/images/img_remedial01.png);
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
            #content .rehabilitate .section-content ul li a .items .hover-box {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              background-color: #000;
              opacity: .3;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.15s;
              transition-duration: 0.15s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 0s;
              transition-delay: 0s; }
          #content .rehabilitate .section-content ul li a p {
            font-size: 18px;
            color: #333;
            font-weight: 400;
            margin-top: 15px; }
        #content .rehabilitate .section-content ul li:last-child {
          margin-right: 0; }
        #content .rehabilitate .section-content ul li:hover a .items {
          transform: scale(1);
          box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.35); }
          #content .rehabilitate .section-content ul li:hover a .items .hover-box {
            opacity: 0; }
        #content .rehabilitate .section-content ul li:hover a p {
          color: #28b690;
          font-size: 18px;
          font-weight: 500; }
#content .news {
  width: 100%;
  height: 895px;
  padding-top: 105px;
  background-color: #eef3f8; }
  #content .news.action .notice .item img {
    right: 0;
    opacity: 1; }
  #content .news.action .notice .details {
    right: 0;
    opacity: 1; }
  #content .news.action .notice-board .news-card {
    top: 0;
    opacity: 1;
    /*@include transition($duration: 1s, $delay: 1.5s);*/ }
  #content .news .notice {
    position: relative;
    width: 100%;
    height: 430px; }
    #content .news .notice .item {
      padding-top: 40px; }
      #content .news .notice .item img {
        position: relative;
        right: 130px;
        opacity: 0;
        box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.05);
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 1.5s;
        transition-duration: 1.5s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0.25s;
        transition-delay: 0.25s; }
    #content .news .notice .details {
      position: absolute;
      top: 0;
      right: -130px;
      opacity: 0;
      width: 645px;
      height: 360px;
      padding: 50px 65px 0 45px;
      background-color: #fff;
      box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.05);
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1.5s;
      transition-duration: 1.5s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0.25s;
      transition-delay: 0.25s; }
      #content .news .notice .details small {
        display: block;
        font-size: 13px;
        color: #e9193a;
        letter-spacing: 1px;
        font-weight: 800;
        font-family: 'Exo 2', sans-serif; }
      #content .news .notice .details h3 {
        font-size: 30px;
        color: #333;
        line-height: 36px;
        font-weight: 400;
        letter-spacing: -1px;
        margin-top: 15px; }
      #content .news .notice .details > p {
        font-size: 15px;
        color: #666;
        line-height: 26px;
        margin-top: 25px; }
      #content .news .notice .details .p-txt {
        margin-top: 30px;
        position: relative;
        padding: 0 20px;
        text-align: center;
        margin-right: 30px;
        display: inline-block;
        line-height: 40px; }
        #content .news .notice .details .p-txt > p {
          position: relative;
          font-size: 13px;
          line-height: 40px;
          z-index: 2;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
        #content .news .notice .details .p-txt > span {
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          display: block;
          z-index: 1;
          background-color: #e9193a;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
        #content .news .notice .details .p-txt:hover p {
          color: #fff; }
        #content .news .notice .details .p-txt:hover span {
          width: 100%; }
  #content .news .notice-board {
    margin-top: 40px; }
    #content .news .notice-board .news-card {
      position: relative;
      top: 100px;
      opacity: 0;
      padding: 30px 30px 15px;
      background-color: #fff; }
      #content .news .notice-board .news-card small {
        display: block;
        font-size: 12px;
        color: #28b690;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: 'Exo 2', sans-serif; }
      #content .news .notice-board .news-card > h3 {
        font-size: 22px;
        color: #333;
        font-weight: 400;
        line-height: 34px;
        margin-top: 10px; }
      #content .news .notice-board .news-card .p-txt02 {
        display: inline-block;
        position: relative;
        margin-top: 40px; }
        #content .news .notice-board .news-card .p-txt02 > p {
          font-size: 12px;
          color: #999; }
        #content .news .notice-board .news-card .p-txt02 > span {
          position: absolute;
          bottom: -2px;
          left: 0;
          display: inline-block;
          width: 0;
          height: 1px;
          background-color: #fff; }
      #content .news .notice-board .news-card:hover {
        background-color: #28b690;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.18);
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        #content .news .notice-board .news-card:hover small {
          color: #fff; }
        #content .news .notice-board .news-card:hover > h3 {
          color: #fff; }
        #content .news .notice-board .news-card:hover .p-txt02 > p {
          color: #fff; }
        #content .news .notice-board .news-card:hover .p-txt02 > span {
          width: 100%;
          right: 0;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s; }
#content .social {
  overflow: hidden;
  width: 100%;
  padding: 45px 0;
  background-color: #fff;
  border: 1px solid #efeeed; }
  #content .social .info.blog .icon {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url(/rehabilitate/assets/images/icon_naver.png);
    background-repeat: no-repeat;
    background-position: 55% 50%;
    background-color: #3ec729; }
  #content .social .info.blog .summary > a:after {
    color: #3ec729; }
  #content .social .info.fb .icon {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url(/rehabilitate/assets/images/icon_fd.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #3b579d; }
  #content .social .info.fb .summary > a:after {
    color: #3b579d; }
  #content .social .info.yt .icon {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url(/rehabilitate/assets/images/icon_yt.png);
    background-repeat: no-repeat;
    background-position: 60% 50%;
    background-color: #d8362b; }
  #content .social .info.yt .summary > a:after {
    color: #d8362b; }
  #content .social .info .summary {
    float: left;
    padding-top: 12px;
    padding-left: 30px; }
    #content .social .info .summary h4 {
      font-size: 16px;
      color: #333;
      line-height: 28px;
      font-weight: 400; }
    #content .social .info .summary > a {
      /*position: relative;*/
      display: inline-block;
      font-size: 16px;
      color: #333;
      line-height: 28px;
      font-weight: 400;
      /*> span {
      	position: absolute;
      	left: 50%;
      	bottom: 0;
      	display: inline-block;
      	width: 0;
      	height: 1px;
      }*/ }
      #content .social .info .summary > a:after {
        position: relative;
        top: -2px;
        display: none;
        content: "\E805";
        font-family: "fontello";
        font-size: 15px;
        margin-left: 10px; }
      #content .social .info .summary > a:hover:after {
        display: inline-block; }
      #content .social .info .summary > a:hover > span {
        width: 100%;
        left: 0;
        background-color: #999;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0.005s;
        transition-delay: 0.005s; }
#content .information {
  height: 330px;
  padding: 50px 0;
  background-color: #fff; }
  #content .information article > .info-title {
    font-size: 20px;
    color: #333;
    letter-spacing: -1px;
    margin-bottom: 30px; }
  #content .information article.company-info strong {
    display: inline-block;
    font-size: 35px;
    color: #e9193a;
    font-family: 'Exo 2', sans-serif; }
  #content .information article.company-info address {
    font-size: 13px;
    color: #333;
    line-height: 22px;
    margin-top: 20px; }
  #content .information article.company-info > ul {
    font-size: 0;
    margin-top: 25px; }
    #content .information article.company-info > ul li {
      display: inline-block;
      /*line-height: 20px;*/ }
      #content .information article.company-info > ul li:first-child dl dd:after {
        position: relative;
        top: -2px;
        content: "|";
        font-size: 10px;
        margin: 0 10px; }
      #content .information article.company-info > ul li dl {
        font-size: 0; }
        #content .information article.company-info > ul li dl dt {
          display: inline-block;
          font-size: 13px;
          color: #666;
          font-weight: 400; }
          #content .information article.company-info > ul li dl dt:after {
            content: ":"; }
        #content .information article.company-info > ul li dl dd {
          display: inline-block;
          font-size: 13px;
          color: #666; }
  #content .information article.hours ul li {
    line-height: 34px; }
    #content .information article.hours ul li dl {
      overflow: hidden; }
      #content .information article.hours ul li dl dt {
        float: left;
        clear: both;
        width: 100px;
        font-size: 14px;
        color: #777; }
      #content .information article.hours ul li dl dd {
        float: left;
        font-size: 15px;
        color: #333;
        font-weight: 400;
        font-family: 'Exo 2', sans-serif; }
  #content .information article.hours .attention {
    font-size: 12px;
    color: #666;
    margin-top: 47px; }
    #content .information article.hours .attention:before {
      content: "※";
      display: inline-block;
      margin-right: 5px; }

#footer {
  /*	position: absolute;
  	bottom: 0;
  	left: 0;*/
  width: 100%;
  height: 50px;
  background-color: #28b690; }
  #footer .copyright {
    display: inline-block;
    text-align: left;
    font-size: 13px;
    color: #fff;
    line-height: 50px;
    font-weight: 300; }
    #footer .copyright i {
      font-style: normal;
      letter-spacing: 1.2px;
      font-family: 'Exo 2', sans-serif; }
  #footer .dropdown {
    float: right;
    width: 225px;
    position: relative; }
    #footer .dropdown .btn {
      position: relative;
      width: 225px;
      height: 50px;
      line-height: 50px;
      font-size: 13px;
      color: #fff;
      text-align: left;
      padding: 0 15px 0 25px;
      border-radius: 0;
      letter-spacing: 1px;
      box-shadow: none !important;
      background-color: #1ea474;
      font-family: 'Exo 2', sans-serif; }
    #footer .dropdown .dropdown-toggle:after {
      display: none;
      margin: 0;
      vertical-align: top;
      border: 0; }
    #footer .dropdown .btn-secondary {
      position: relative;
      border-color: #1ea474; }
      #footer .dropdown .btn-secondary:after {
        position: absolute;
        top: 0;
        right: 20px;
        display: inline-block;
        content: "\E802";
        font-family: "fontello";
        text-align: right;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        #footer .dropdown .btn-secondary:after:hover {
          transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -moz-transform: rotate(180deg); }
    #footer .dropdown .dropdown-menu {
      width: 100%;
      background-color: #fff;
      margin: 0;
      padding: 0;
      border: 0;
      border-radius: 0;
      box-shadow: none; }
      #footer .dropdown .dropdown-menu .dropdown-item {
        position: relative;
        padding: 0;
        font-size: 13px;
        line-height: 45px;
        padding: 0 15px;
        background-color: #fff; }
        #footer .dropdown .dropdown-menu .dropdown-item:hover {
          background-color: #f6f6f6; }

#quick-banner {
  position: fixed;
  top: 0;
  right: 0;
  width: 95px;
  height: 100%;
  z-index: 101; }
  #quick-banner .quick-wrap {
    position: relative;
    width: 100%;
    height: 100%; }
    #quick-banner .quick-wrap .pain-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 95px;
      background-color: #2861b6; }
      #quick-banner .quick-wrap .pain-link > a {
        display: block;
        background-image: url(/rehabilitate/assets/images/bg_quick.png);
        background-repeat: no-repeat;
        background-position: 50% 15px;
        font-size: 15px;
        color: #fff;
        line-height: 18px;
        text-align: center;
        padding-top: 55px; }
    #quick-banner .quick-wrap .page-menu {
      width: 100%;
      height: 100%;
      padding-top: 95px;
      background-color: #fff; }
      #quick-banner .quick-wrap .page-menu > li:first-child > a {
        border-top: 1px solid #ccc; }
      #quick-banner .quick-wrap .page-menu > li > a {
        display: block;
        height: 60px;
        padding-top: 20px;
        font-size: 13px;
        color: #666;
        text-align: center;
        border-bottom: 1px solid #ccc; }
    #quick-banner .quick-wrap .center-link {
      position: absolute;
      bottom: 70px;
      left: 0;
      width: 100%; }
      #quick-banner .quick-wrap .center-link > li > a {
        display: block;
        width: 100%;
        height: 54px;
        font-size: 13px;
        color: #fff;
        text-align: center;
        line-height: 54px; }
      #quick-banner .quick-wrap .center-link > li.speech a {
        background-color: #f5a100; }
      #quick-banner .quick-wrap .center-link > li.sports a {
        background-color: #e9193a; }
    #quick-banner .quick-wrap .quick-top {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 70px;
      background-color: #e1e1e1;
      text-align: center; }
      #quick-banner .quick-wrap .quick-top > .btn-top {
        display: inline-block;
        padding-top: 20px;
        font-size: 13px;
        color: #666;
        font-weight: 600;
        font-family: 'Exo 2', sans-serif; }
        #quick-banner .quick-wrap .quick-top > .btn-top .icon-up-open {
          display: block;
          font-weight: 200; }
      #quick-banner .quick-wrap .quick-top:hover > .btn-top {
        color: #999; }

.scrolled #header {
  background-color: rgba(255, 255, 255, 0.8); }
  .scrolled #header .header-wrap .btn-nav .bar {
    background-color: #333; }
  .scrolled #header .header-wrap #gnb > ul > li > a {
    color: #333;
    font-weight: 400; }
  .scrolled #header .header-wrap #gnb > ul > li:after {
    color: #333; }

.service {
  background-color: #fffbf4; }
  .service.action .section-header h3 {
    top: 0;
    opacity: 1; }
    .service.action .section-header h3 strong {
      top: 0;
      opacity: 1; }
  .service.action .section-header p {
    top: 0;
    opacity: 1; }
  .service.action .section-content > article .details h4 {
    top: 0;
    opacity: 1; }
  .service.action .section-content > article .details > p {
    top: 0;
    opacity: 1; }
  .service.action .section-content > article .details .btn-area {
    top: 0;
    opacity: 1; }
  .service.action .section-content > article.speech figure .img-fluid {
    right: 0;
    opacity: 1; }
  .service.action .section-content > article.sports figure .img-fluid {
    left: 0;
    opacity: 1; }
  .service .section-header {
    text-align: center;
    padding: 100px 0 90px; }
    .service .section-header h3 {
      position: relative;
      top: -30px;
      opacity: 0;
      font-size: 37px;
      color: #2b2b2b;
      font-weight: 600;
      letter-spacing: -2px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0.5s;
      transition-delay: 0.5s; }
      .service .section-header h3 strong {
        position: relative;
        top: -20px;
        opacity: 0;
        display: block;
        font-size: 46px;
        color: #e9193a;
        font-weight: bold;
        letter-spacing: 0;
        font-family: 'Exo 2', sans-serif;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0.45s;
        transition-delay: 0.45s; }
    .service .section-header p {
      position: relative;
      top: -30px;
      opacity: 0;
      font-size: 17px;
      color: #999;
      font-weight: 300;
      margin-top: 20px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 1.5s;
      transition-delay: 1.5s; }
  .service .section-content {
    display: table;
    width: 100%;
    padding-right: 95px;
    table-layout: fixed; }
    .service .section-content > article {
      position: relative;
      display: table-cell;
      width: 50%;
      z-index: 3;
      padding: 60px 0 40px;
      vertical-align: middle; }
      .service .section-content > article figure {
        position: absolute;
        bottom: 0;
        z-index: 1; }
        .service .section-content > article figure .img-fluid {
          position: relative;
          max-width: 740px;
          min-width: 740px; }
      .service .section-content > article .details {
        position: relative;
        z-index: 2; }
        .service .section-content > article .details h4 {
          position: relative;
          top: -30px;
          opacity: 0;
          font-size: 28px;
          color: #fff;
          letter-spacing: -1px;
          font-weight: bold;
          text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 1s;
          transition-duration: 1s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s; }
        .service .section-content > article .details > p {
          position: relative;
          top: -30px;
          opacity: 0;
          font-size: 16px;
          color: #fff;
          letter-spacing: -.5px;
          line-height: 28px;
          font-weight: 300;
          margin-top: 25px;
          text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 1s;
          transition-duration: 1s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s; }
        .service .section-content > article .details .btn-area {
          position: relative;
          top: 30px;
          opacity: 0;
          margin-top: 35px;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 1s;
          transition-duration: 1s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s; }
          .service .section-content > article .details .btn-area p .btn-default {
            display: inline-block;
            width: 155px;
            line-height: 40px;
            font-size: 13px;
            color: #fff;
            text-align: center;
            border: 1px solid #fff; }
            .service .section-content > article .details .btn-area p .btn-default:hover {
              background-color: #e9193a;
              border-color: #e9193a;
              color: #fff; }
      .service .section-content > article.speech {
        text-align: right;
        padding-right: 60px;
        background-color: #ebaf3c; }
        .service .section-content > article.speech figure {
          left: 0;
          padding-right: 95px; }
          .service .section-content > article.speech figure .img-fluid {
            right: 140px;
            opacity: 0;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 3.5s;
            transition-delay: 3.5s; }
      .service .section-content > article.sports {
        padding-left: 60px;
        text-align: left;
        background-color: #4b85c3; }
        .service .section-content > article.sports figure {
          right: 0px;
          padding-left: 95px; }
          .service .section-content > article.sports figure .img-fluid {
            left: 140px;
            opacity: 0;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 3.5s;
            transition-delay: 3.5s; }

/*# sourceMappingURL=default.css.map */
