@import 'common';

// 치료진 페이지
.care-team {
	.section-content {
		margin-top: 75px;
		.sub-title {
			& ~ .sub-title {
				margin-top: 125px;
			}
		}
		.member {
			ul {
				li {
					figure {
						figcaption {
							h3 {
								span {
									display: inline-block;
									font-size: 15px;
									font-weight: 400;
								}
							}
						}
					}
				}
			}
		}
	}
}

// 부서별 전화번호
.business-number {
	.section-header {
		border-bottom: 1px solid #9b9da0;
		.page-title {
			padding-bottom: 60px;
		}
	}
	.section-content {
		padding-top: 50px;
		.sub-title {
			& ~ .sub-title {
				margin-top: 90px;
			}
		}
		.summary {
			font-size: 14px;
			color: #666;
			font-weight: 300;
			line-height: 24px;
			margin-top: 20px;
			i {
				font-size: 15px;
				font-style: normal;
				color: #e9193a;
			}
		}
	}
}

// 부설의원 시설안내
.facility {
	.section-content {
		margin-top: 80px;
	}	
}

// 언어심리상담센터 시설안내
.facility-speech {
	.section-content {
		margin-top: 80px;
	}	
}

// 스포츠센터 시설안내
.facility-sports {
	.section-content {
		margin-top: 80px;
	}	
}

// 새롬학교 시설안내
.facility-saerom {
	.section-content {
		margin-top: 80px;
	}	
}

// 오시는 길
.location {
	.section-content {
		padding-top: 90px;
		article {
			.table-wrap {
				border-top: 2px solid #28b690;
				.table {
					margin: 0;
					background: none;
					tr {
						th {
							padding: 0;
							vertical-align: middle;
							border: 0;
							width: 155px;
							font-size: 16px;
							color: #282828;
							font-weight: 400;
							padding: 18px 30px;
							background-color: #fff;
							border-bottom: 1px solid #dfdfdf;
						}
						td {
							font-size: 15px;
							color: #666;
							font-weight: 300;
							vertical-align: middle;
							/*padding-left: 30px;*/
							padding: 18px 30px;
							border-bottom: 1px solid #dfdfdf;
							> .details {
								> li {
									font-size: 15px;
									color: #666;
									font-weight: 300;
									line-height: 46px;
									span {
										display: inline-block;
										width: 75px;
										height: 26px;
										line-height: 26px;
										border-radius: 20px;
										text-align: center;
										font-size: 14px;
										color: #fff;
										margin-right: 15px;
										&.line-7 {
											background-color: #576615;
										}
										&.line-2 {
											background-color: #368d40;
										}
										&.green-bus {
											background-color: #2dba3a;
										}
										&.blue-bus {
											background-color: #448cf0;
										}
									}
								}
							}
						}
					}
				}
			}
			&.clinic {
				.maps {
					margin-top: 30px;
				}
			}
			&.traffic {
				margin-top: 115px;
				.table-wrap {
					tbody {
						tr {
							th {
								padding-top: 30px;
								vertical-align: top; 
							}
						}
					}
				}
			}
			
		}
	}	
}

// 비급여 안내
.sum-list {
	.section-header {
		border-bottom: 1px solid #9b9da0;
		.page-title {
			padding-bottom: 65px;
		}
	}
	.section-content {
		article {
			.sub-title {
				margin-bottom: 30px;
			}
			&.basic {
				padding-top: 100px;
			}
			&.proof {
				padding-top: 120px;
			}
		}
	}
}

// 협력기관
.partners {
	.section-content {
		padding-top: 90px;
		.row {
			.col-3 {
				.details {
					padding-bottom: 45px;
					.partner-logo {
						display: table;
						width: 100%;
						background-color: #fff;
						border: 1px solid #ddd;
						figure {
							display: table-cell;
							vertical-align: middle;
							margin: 0 auto;
							width: 100%;
							height: 105px;
							img {
								display: block;
								margin: 0 auto;
								max-height: 105px;
							}
						}
					}
					> h3 {
						font-size: 16px;
						color: #666;
						font-weight: 400;
						text-align: center;
						margin-top: 25px;
					}
				}
			}
		}
	}
}

// 제증명서 발급안내
.certificate {
	.section-header {
		border-bottom: 1px solid #9b9da0;
		.page-title {
			padding-bottom: 65px;
		}
	}
	.section-content {
		article {
			margin-top: 110px;
			.step {
				font-size: 0;
				text-align: center;
				> li {
					position: relative;
					display: inline-block;
					width: 170px;
					margin-right: 95px;
					vertical-align: top;
					&:last-child {
						margin-right: 0;
						.item {
							&:after {
								display: none;
							}
						}
					}
					.item {
						height: 150px;
						text-align: center;
						padding-top: 25px;
						border: 1px solid #d6d6d6;
						background-color: #fff;
						&:after {
							content: " ";
							position: absolute;
							top: 75px;
							left: 100%;
							display: inline-block;
							width: 100%;
							height: 2px;
							border: 1px dashed #d7d7d7;
						}
						> p {
							font-size: 16px;
							color: #333;
							font-weight: 500;
							letter-spacing: -1px;
							@include maven();
						}
						figure {
							margin-top: 10px;
						}
					}
					> h4 {
						font-size: 16px;
						color: #666;
						font-weight: 400;
						margin-top: 25px;
						> i {
							font-size: 14px;
							font-style: normal;
							margin-top: 10px;
						}
					}
				}
			}
			&.document {
				.table-wrap {
					.table {
						tbody {
							tr {
								td {
									line-height: 24px;
									font-weight: 300;
									padding: 30px 0;
									&:first-child {
										color: #333;
										font-weight: 400;
									}
									> .circle-list {
										padding-left: 35px;
									}
								}
							}
						}
					}
					.btn-area {
						text-align: right;
						margin-top: 30px;
					}
				}
			}
			&.expense {
				.table-wrap {
					.table {
						&.type-1 {
							tbody {
								tr {
									td {
										&:first-child {
											color: #333;
											font-weight: 400;
										}
									}
									&:nth-of-type(2) {
										td {
											background-color: #f8f8f8; 
										}
									}
									&:nth-of-type(3) {
										td {
											background-color: #fff; 
										}
									}
								}
							}
						}
					}	
				}
			}
		}
	}
}

// 병원소개
.src-hospital {
	
}








