@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url("https://fonts.googleapis.com/css?family=Exo+2:400,700,800");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700");
@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2") format("woff2"), url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff") format("woff"); }
@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2") format("woff2"), url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff") format("woff"); }
/* 초기화 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dt {
    font-weight: 400; }
  dl dd {
    font-weight: 400;
    margin: 0; }

address {
  margin-bottom: 0; }

figure {
  margin-bottom: 0; }

label {
  margin: 0;
  font-weight: 400; }

body {
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  color: #666;
  font-weight: 400;
  min-width: 1200px !important; }

.container {
  max-width: 1200px !important; }

a {
  color: inherit;
  text-decoration: none !important; }
  a:hover {
    color: inherit; }

.btn {
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: none !important;
  border-radius: 0;
  background: none; }

.form-group {
  margin: 0; }

.form-control {
  border-radius: 0;
  box-shadow: none !important; }

.introduce .space {
  padding-bottom: 0 !important; }

.care-team .section-content {
  margin-top: 75px; }
  .care-team .section-content .sub-title ~ .sub-title {
    margin-top: 125px; }
  .care-team .section-content .team-title {
    font-size: 20px;
    color: #28b690;
    font-weight: 400;
    margin-bottom: 30px; }
    .care-team .section-content .team-title ~ .team-title {
      margin-top: 100px; }
  .care-team .section-content .member ul li figure figcaption h3 span {
    display: inline-block;
    font-size: 15px;
    font-weight: 400; }

.business-number .section-header {
  border-bottom: 1px solid #9b9da0; }
  .business-number .section-header .page-title {
    padding-bottom: 60px; }
.business-number .section-content {
  padding-top: 50px; }
  .business-number .section-content .sub-title ~ .sub-title {
    margin-top: 90px; }
  .business-number .section-content .summary {
    font-size: 14px;
    color: #666;
    font-weight: 300;
    line-height: 24px;
    margin-top: 20px; }
    .business-number .section-content .summary i {
      font-size: 15px;
      font-style: normal;
      color: #e9193a; }

.facility .section-content {
  margin-top: 80px; }
  .facility .section-content .facility-slider .slick-list {
    overflow: visible !important; }

.facility-speech .section-content {
  margin-top: 80px; }
  .facility-speech .section-content .facility-slider .slick-list {
    overflow: visible !important; }

.facility-sports .section-content {
  margin-top: 80px; }
  .facility-sports .section-content .facility-slider .slick-list {
    overflow: visible !important; }

.facility-saerom .section-content {
  margin-top: 80px; }
  .facility-saerom .section-content .facility-slider .slick-list {
    overflow: visible !important; }

.location .section-content {
  padding-top: 90px; }
  .location .section-content article .table-wrap {
    border-top: 2px solid #28b690; }
    .location .section-content article .table-wrap .table {
      margin: 0;
      background: none; }
      .location .section-content article .table-wrap .table tr th {
        padding: 0;
        vertical-align: middle;
        border: 0;
        width: 155px;
        font-size: 16px;
        color: #282828;
        font-weight: 400;
        padding: 18px 30px;
        background-color: #fff;
        border-bottom: 1px solid #dfdfdf; }
      .location .section-content article .table-wrap .table tr td {
        font-size: 15px;
        color: #666;
        font-weight: 300;
        vertical-align: middle;
        /*padding-left: 30px;*/
        padding: 18px 30px;
        border-bottom: 1px solid #dfdfdf; }
        .location .section-content article .table-wrap .table tr td > .details > li {
          font-size: 15px;
          color: #666;
          font-weight: 300;
          line-height: 46px; }
          .location .section-content article .table-wrap .table tr td > .details > li span {
            display: inline-block;
            width: 75px;
            height: 26px;
            line-height: 26px;
            border-radius: 20px;
            text-align: center;
            font-size: 14px;
            color: #fff;
            margin-right: 15px; }
            .location .section-content article .table-wrap .table tr td > .details > li span.line-7 {
              background-color: #576615; }
            .location .section-content article .table-wrap .table tr td > .details > li span.line-2 {
              background-color: #368d40; }
            .location .section-content article .table-wrap .table tr td > .details > li span.green-bus {
              background-color: #2dba3a; }
            .location .section-content article .table-wrap .table tr td > .details > li span.blue-bus {
              background-color: #448cf0; }
  .location .section-content article.clinic .maps {
    margin-top: 30px; }
  .location .section-content article.traffic {
    margin-top: 115px; }
    .location .section-content article.traffic .table-wrap tbody tr th {
      padding-top: 30px;
      vertical-align: top; }

.sum-list .section-header {
  border-bottom: 1px solid #9b9da0; }
  .sum-list .section-header .page-title {
    padding-bottom: 65px; }
.sum-list .section-content article .sub-title {
  margin-bottom: 30px; }
.sum-list .section-content article.basic {
  padding-top: 100px; }
.sum-list .section-content article.proof {
  padding-top: 120px; }

.partners .section-content {
  padding-top: 90px; }
  .partners .section-content .row .col-3 .details {
    padding-bottom: 45px; }
    .partners .section-content .row .col-3 .details .partner-logo {
      display: table;
      width: 100%;
      background-color: #fff;
      border: 1px solid #ddd; }
      .partners .section-content .row .col-3 .details .partner-logo figure {
        display: table-cell;
        vertical-align: middle;
        margin: 0 auto;
        width: 100%;
        height: 105px; }
        .partners .section-content .row .col-3 .details .partner-logo figure img {
          display: block;
          margin: 0 auto;
          max-height: 105px; }
    .partners .section-content .row .col-3 .details > h3 {
      font-size: 16px;
      color: #666;
      font-weight: 400;
      text-align: center;
      margin-top: 25px; }

.certificate .section-header {
  border-bottom: 1px solid #9b9da0; }
  .certificate .section-header .page-title {
    padding-bottom: 65px; }
.certificate .section-content article {
  margin-top: 110px; }
  .certificate .section-content article .step {
    font-size: 0;
    text-align: center; }
    .certificate .section-content article .step > li {
      position: relative;
      display: inline-block;
      width: 170px;
      margin-right: 95px;
      vertical-align: top; }
      .certificate .section-content article .step > li:last-child {
        margin-right: 0; }
        .certificate .section-content article .step > li:last-child .item:after {
          display: none; }
      .certificate .section-content article .step > li .item {
        height: 150px;
        text-align: center;
        padding-top: 25px;
        border: 1px solid #d6d6d6;
        background-color: #fff; }
        .certificate .section-content article .step > li .item:after {
          content: " ";
          position: absolute;
          top: 75px;
          left: 100%;
          display: inline-block;
          width: 100%;
          height: 2px;
          border: 1px dashed #d7d7d7; }
        .certificate .section-content article .step > li .item > p {
          font-size: 16px;
          color: #333;
          font-weight: 500;
          letter-spacing: -1px;
          font-family: 'Maven Pro', sans-serif; }
        .certificate .section-content article .step > li .item figure {
          margin-top: 10px; }
      .certificate .section-content article .step > li > h4 {
        font-size: 16px;
        color: #666;
        font-weight: 400;
        margin-top: 25px; }
        .certificate .section-content article .step > li > h4 > i {
          font-size: 14px;
          font-style: normal;
          margin-top: 10px; }
  .certificate .section-content article.document .table-wrap .table tbody tr td {
    line-height: 24px;
    font-weight: 300;
    padding: 30px 0; }
    .certificate .section-content article.document .table-wrap .table tbody tr td:first-child {
      color: #333;
      font-weight: 400; }
    .certificate .section-content article.document .table-wrap .table tbody tr td > .circle-list {
      padding-left: 35px; }
  .certificate .section-content article.document .table-wrap .btn-area {
    text-align: right;
    margin-top: 30px; }
  .certificate .section-content article.expense .table-wrap .table.type-1 tbody tr td:first-child {
    color: #333;
    font-weight: 400; }
  .certificate .section-content article.expense .table-wrap .table.type-1 tbody tr:nth-of-type(2) td {
    background-color: #f8f8f8; }
  .certificate .section-content article.expense .table-wrap .table.type-1 tbody tr:nth-of-type(3) td {
    background-color: #fff; }

.introduction .section-content article.seoul {
  padding: 215px 0 190px;
  background-image: url(/rehabilitate/assets/images/introduce/bg_seoul.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .introduction .section-content article.seoul h3 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;
    font-family: 'Godo', sans-serif;
    font-weight: bold; }
  .introduction .section-content article.seoul b {
    display: block;
    font-size: 22px;
    color: #fff;
    font-weight: 500; }
    .introduction .section-content article.seoul b i {
      font-style: normal;
      color: #e9193a; }
  .introduction .section-content article.seoul p {
    font-size: 16px;
    line-height: 32px;
    color: #fff;
    word-break: keep-all;
    margin-top: 60px; }
.introduction .section-content article.gwangju {
  padding: 135px 0 170px;
  background-image: url(/rehabilitate/assets/images/introduce/bg_others.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .introduction .section-content article.gwangju ol > li {
    overflow: hidden; }
    .introduction .section-content article.gwangju ol > li ~ li {
      margin-top: 30px; }
    .introduction .section-content article.gwangju ol > li > div {
      width: 50%; }
      .introduction .section-content article.gwangju ol > li > div figure img {
        display: inline-block; }
      .introduction .section-content article.gwangju ol > li > div.summary {
        color: #fff; }
        .introduction .section-content article.gwangju ol > li > div.summary h3 {
          font-size: 50px;
          font-weight: bold;
          font-family: 'Godo', sans-serif; }
        .introduction .section-content article.gwangju ol > li > div.summary small {
          font-size: 16px;
          display: inline-block;
          margin-top: 20px;
          margin-bottom: 50px; }
          .introduction .section-content article.gwangju ol > li > div.summary small i {
            font-style: normal;
            color: #cb3246;
            opacity: .9; }
        .introduction .section-content article.gwangju ol > li > div.summary h4 {
          font-size: 36px;
          font-weight: 400;
          margin-bottom: 25px; }
          .introduction .section-content article.gwangju ol > li > div.summary h4 span {
            font-family: 'Titillium Web', sans-serif;
            font-size: 48px; }
        .introduction .section-content article.gwangju ol > li > div.summary p {
          font-size: 16px;
          line-height: 32px;
          font-weight: 300;
          letter-spacing: -.5px;
          opacity: .8;
          white-space: nowrap; }
    .introduction .section-content article.gwangju ol > li:nth-of-type(1) .item-img {
      margin-left: -20px; }
    .introduction .section-content article.gwangju ol > li:nth-of-type(1) .summary {
      padding-top: 50px; }
    .introduction .section-content article.gwangju ol > li:nth-of-type(2) .summary {
      padding-top: 255px; }
    .introduction .section-content article.gwangju ol > li:nth-of-type(3) {
      margin-top: 130px; }
      .introduction .section-content article.gwangju ol > li:nth-of-type(3) .summary {
        padding-top: 100px; }
    .introduction .section-content article.gwangju ol > li:nth-of-type(odd) .item-img {
      float: left; }
      .introduction .section-content article.gwangju ol > li:nth-of-type(odd) .item-img figure {
        text-align: left; }
    .introduction .section-content article.gwangju ol > li:nth-of-type(odd) .summary {
      text-align: right;
      float: right; }
    .introduction .section-content article.gwangju ol > li:nth-of-type(even) .item-img {
      float: right; }
      .introduction .section-content article.gwangju ol > li:nth-of-type(even) .item-img figure {
        text-align: right; }
    .introduction .section-content article.gwangju ol > li:nth-of-type(even) .summary {
      text-align: left;
      float: left; }

.doctors .section-content {
  margin-top: 125px;
  background-image: url(/rehabilitate/assets/images/introduce/bg_doctors.png);
  background-repeat: no-repeat;
  background-position: 100% 20px; }
  .doctors .section-content .article-header small {
    display: block;
    font-size: 22px;
    color: #666;
    margin-bottom: 20px; }
  .doctors .section-content .article-header h3 {
    font-size: 55px;
    color: #333;
    font-weight: bold; }
  .doctors .section-content .article-content {
    margin-top: 130px; }
    .doctors .section-content .article-content h4 {
      font-size: 24px;
      color: #333;
      line-height: 24px;
      font-weight: 400;
      padding-left: 15px;
      border-left: 3px solid #28b690; }
      .doctors .section-content .article-content h4 ~ h4 {
        margin-top: 85px; }
    .doctors .section-content .article-content ul {
      margin-top: 20px; }
      .doctors .section-content .article-content ul li {
        font-size: 16px;
        color: #666;
        line-height: 30px;
        font-weight: 400;
        position: relative;
        padding-left: 15px; }
        .doctors .section-content .article-content ul li:before {
          position: absolute;
          top: 0;
          left: 0;
          content: "\E800";
          font-family: "fontello"; }

/*# sourceMappingURL=introduce.css.map */
