@import 'common';

//content
#content {
	.jumbotron {
		padding: 0;
		margin: 0;
		border-radius: 0;
		background: none;
        li {
            &.slick-slide {
                width: 100%;
                height: 998px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: auto 998px;
            }
        }
		.slide-wrap {
			width: 100%;
			position: relative;
			.slick-list {
				.slick-track {
					.slick-slide {
						figure {
							img {
								width: 100%;
							}
						}
					}
				}
			}
			.slick-arrow {
				position: absolute;
				bottom: 23px;
				display: block;
				cursor: pointer;
				padding: 0;
				margin: 0;
				font-size: 25px;
				color: #fff;
				border: 0;
				background: none;
				text-align: center;
				outline: none;
				z-index: 1;
				&.slick-prev {
					left: 50%;
					margin-left: -95px;
				}
				&.slick-next {
					right: 50%;
					margin-right: -95px;
				}
			}
			.slick-dots {
				position: absolute;
                left: 0;
                bottom: 30px;
                width: 100%;
                text-align: center;
				li {
					display: inline-block;
					margin-right: 10px;
					&.slick-active {
						button {
							width: 46px;
							border-radius: 10px;
							background-color: rgba(255, 255, 255, 1);
						}
					}
					button {
						padding: 0;
						cursor: pointer;
						border: 0;
						width: 20px;
						height: 20px;
						border-radius: 50%;
						outline: none;
						text-indent: -999999px;	
						background-color: rgba(255, 255, 255, .8);
					}
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
	// 소아 낮병동 장점
	.benefit {
		width: 100%;
		height: 665px;
		&.action {
			.benefit-intro {
				> h2 {
					top: 0;
					opacity: 1;
				}
				p { 
					top: 0;
					opacity: 1;
				}
				.btn-area { 
					bottom: 80px;
					opacity: 1;
				}
			}
		}
		.benefit-intro {
			position: relative;
			/*width: 585px;*/
			float: left;
			width: 30%;
			height: 100%;
			padding: 100px 35px 0 80px;
			background-image: url(/rehabilitate/assets/images/bg_benefit.png);
			background-repeat: no-repeat;
			background-position: 0 0;
			background-color: #28b690;
			> h2 {
				position: relative;
				top: -50px;
				opacity: 0;
				font-size: 60px;
				color: #fff;
				font-weight: 700;
				@include exo();
				@include transition($duration: 1.5s, $delay: .25s);
			}
			> p {
				position: relative;
				top: -50px;
				opacity: 0;
				font-size: 23px;
				color: #fff;
				line-height: 36px;
				font-weight: 300;
				margin-top: 35px;
				@include transition($duration: 1.5s, $delay: .5s);
			}
			.btn-area {
				position: absolute;
				bottom: 140px;
				left: 80px;
				opacity: 0; 
				@include transition($duration: 1s, $delay: 1s);
				p {
					.btn {
						display: block;
						width: 250px;
						line-height: 60px;
						font-size: 18px;
						color: #fff;
						text-align: center;
						border: 1px solid #fff;
						border-radius: 30px;
						&:hover {
							border: 1px solid #e9193a;
							background-color: #e9193a;
							@include transition();
						}
					}
				}
			}
		}
		.benefit-content {
			float: left;
			width: 70%;
			height: 100%;
			background-color: #f4f6f8;
			ol {
				overflow: hidden;
				width: 100%;
				height: 100%;
				li {
					position: relative;
					display: inline-block;
					width: 470px; 
					height: 100%;
					padding-top: 80px;
					margin-left: 30px;
					&:first-child {
						margin-left: 85px;
					}
					&:after {
						position: absolute;
						top: 0;
						right: 55px;
						display: block;
						content: "";
						height: 100%;
						border-left: 1px solid #e4e4e4;
					}
					strong {
						display: block;
						font-size: 70px;
						color: #2b2b2b;
						opacity: .1;
						font-weight: 700;
						letter-spacing: -4px;
						@include roboto();
					}
					> p {
						font-size: 17px;
						color: #999;
						font-weight: 300;
						> b {
							color: #333;
							font-weight: 500;
						}
					}
					figure {
						position: relative;
						z-index: 1;
						text-align: right;
						margin-top: 60px;
					}
				}
			}
		}
		.mCSB_scrollTools_horizontal {
			display: block !important;
			width: 300px !important;
			height: 40px;
			/*margin: 0 auto !important;*/
			margin-left: 270px;
		}
		#mCSB_1_container {
			margin-bottom: 0;
			width: 2250px;
			height: 100%; 
		}
		.mCSB_dragger {
			width: 18px !important;
		}
		.mCSB_dragger_bar {
			width: 18px !important;
			height: 18px !important;
			margin-top: 0px !important;
			border-radius: 50% !important;
			background-color: #e2413e !important;
		}
		.mCSB_draggerRail {
			margin: 8px 0;
			background-color: #e0e3e6;
			box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35) inset; 
		}
	}
	//재활 프로그램
	.rehabilitate {
		text-align: center;
		padding: 110px 0 115px 0;
		border-top: 1px solid #efefef;
		border-bottom: 1px solid #efefef;
		background-color: #fff;
		&.action {
			.section-header {
				h2 {
					top: 0;
					opacity: 1;
				}
				p {
					top: 0;
					opacity: 1;
				}
			}
			.section-content {
				ul {
					top: 0;
					opacity: 1;
				}
			}
		}
		.section-header {
			h2 {
				position: relative;
				top: -30px;
				opacity: 0;
				font-size: 37px;
				color: #2b2b2b;
				font-weight: 600;
				@include transition($duration: 1s, $delay: .5s);
				i {
					font-style: normal;
					color: #e9193a;
				}
			}
			p {
				position: relative;
				top: -30px;
				opacity: 0;
				font-size: 17px;
				color: #999;
				font-weight: 300;
				margin-top: 25px;
				@include transition($duration: 1s, $delay: .5s);
			}
		}
		.section-content {
			margin-top: 80px;
			ul {
				position: relative;
				top: 50px;
				opacity: 0;
				font-size: 0;
				height: 290px;
				margin: 0 auto;
				@include transition($duration: 1s, $delay: 1.5s);
				li {
					display: inline-block;
					a {
						display: block;
						width: 100%;
						height: 100%;
						text-align: center;
						.items {
                            position: relative;
                            overflow: hidden;
							transform: scale(0.85);
							width: 240px;
							height: 240px;
							margin: 0 auto;
							border-radius: 50%;
							background-repeat: no-repeat;
							background-position: 50% 50%;
							vertical-align: top;
                            @include transition();
                            .hover-box {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                                background-color: #000;
                                opacity: .3;
                                @include transition();
                            }
						}
						p {
							font-size: 18px;
							color: #333;
							font-weight: 400;
							margin-top: 15px;
							
 						}
					}
					&:last-child {
						margin-right: 0;
					}
					&:hover {
						a {
							.items {
								transform: scale(1);
								box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.35);
                                .hover-box {
                                    opacity: 0;
                                }
							}
							p {
								color: #28b690;
								font-size: 18px;
								font-weight: 500;
							}
						}
					}
                    &:nth-of-type(1) {
                        a {
							.items {
                                background-image: url(/rehabilitate/assets/images/img_remedial01.png);
							}
                        }
                    }
                    &:nth-of-type(2) {
                        a {
							.items {
                                background-image: url(/rehabilitate/assets/images/img_remedial02.png);
							}
                        }
                    }
                    &:nth-of-type(3) {
                        a {
							.items {
                                background-image: url(/rehabilitate/assets/images/img_remedial03.png);
							}
                        }
                    }
                    &:nth-of-type(4) {
                        a {
							.items {
                                background-image: url(/rehabilitate/assets/images/img_remedial04.png);
							}
                        }
                    }
                    &:nth-of-type(5) {
                        a {
							.items {
                                background-image: url(/rehabilitate/assets/images/img_remedial05.png);
							}
                        }
                    }
				}
			}
		}
	}
	// 공지 & 뉴스레터
	.news {
		width: 100%;
		height: 895px;
		padding-top: 105px;
		background-color: #eef3f8;
		.notice {
			position: relative;
			width: 100%;
			height: 430px;
			.item {
				padding-top: 40px;
				img {
					position: relative;
					right: 130px;
					opacity: 0;
					box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.05); 
					@include transition($duration: 1.5s, $delay: .25s);
				}
			}
			.details {
				position: absolute;
				top: 0;
				right: -130px;
				opacity: 0;
				width: 645px;
				height: 360px;
				padding: 50px 65px 0 45px;
				background-color: #fff;
				box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.05); 
				@include transition($duration: 1.5s, $delay: .25s);
				small {
					display: block;
					font-size: 13px;
					color: #e9193a;
					letter-spacing: 1px;
					font-weight: 800;
					@include exo();
				}
				h3 {
					font-size: 30px;
					color: #333;
					line-height: 36px;
					font-weight: 400;
					letter-spacing: -1px;
					margin-top: 15px;
				}
				> p {
					font-size: 15px;
					color: #666;
					line-height: 26px;
					margin-top: 25px;
				}
				.p-txt {
					margin-top: 30px;
					position: relative;
                    padding: 0 20px;
					text-align: center;
					margin-right: 30px;
					display: inline-block;
					line-height: 40px;
					> p {
						position: relative;
						font-size: 13px;
						line-height: 40px;
						z-index: 2;
						@include transition();
					}
					> span {
						position: absolute;
						top: 0;
						left: 0;
						width: 0;
						height: 100%;
						display: block;
						z-index: 1;
						background-color: #e9193a;
                    	@include transition();
					}
					&:hover {
						p {
							color: #fff;
						}
						span {
							width: 100%;
						}
					}
				}
			}
		}
		.notice-board {
			margin-top: 40px;
            .col-4 {
                > div {
                    position: relative;
                    top: 50px;
                    opacity: 0;
                    &.effect01 {
					    @include transition($duration: 1s, $delay: 1.5s);
                    }
                    &.effect02 {
					    @include transition($duration: 1s, $delay: 1.8s);
                    }
                    &.effect03 {
					    @include transition($duration: 1s, $delay: 2.3s);
                    }
                }
            }
			.news-card {
				padding: 30px 30px 15px;
				background-color: #fff;
				small {
					display: block;
					font-size: 12px;
					color: #28b690;
					letter-spacing: 1px;
					font-weight: bold;
					@include exo();
				}
				> h3 {
					font-size: 22px;
					color: #333;
					font-weight: 400;
					line-height: 34px;
					margin-top: 10px;
				}
				.p-txt02 {
					display: inline-block;
					position: relative;
					margin-top: 40px;
                    @include transition();
					> p {
						font-size: 12px;
						color: #999;
					}
					> span {
						position: absolute;
						bottom: -2px;
						left: 0;
						display: inline-block;
						width: 0;
						height: 1px; 
						background-color: #fff;
                        @include transition($duration: .2s, $delay: .15s);
					} 
				}
				&:hover {
					background-color: #28b690;
					box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.18); 
					small {
						color: #fff;
					}
					> h3 {
						color: #fff;
					}
					.p-txt02 {
						> p {
							color: #fff;
						}
						> span {
							width: 100%;
							right: 0;
						}
					}
				}
			}
		}
        &.action {
			.notice {
				.item {
					img {
						right: 0;
						opacity: 1;
					}
				}
				.details {
					right: 0;
					opacity: 1;
				}
			}
			.notice-board {
                .col-4 {
                    > div {
                        top: 0;
                        opacity: 1;
                    }
                }
			}
		}
	}
	//소셜 바로가기
	.social {
		overflow: hidden;
		width: 100%;
		padding: 45px 0;
		background-color: #fff;
		border: 1px solid #efeeed;  
		.info {
			a {
				&:hover {
					.summary {
						> p {	
							&:after {
								display: inline-block;
							}
							> span {
								width: 100%;
								left: 0;
								background-color: #999;
								@include transition($duration: .2s, $delay: .005s);
							}
						}
					}
				}
			}
			&.blog {
				a {
					.icon {
						float: left;
						width: 80px;
						height: 80px;
						border-radius: 50%;
						background-image: url(/rehabilitate/assets/images/icon_naver.png);
						background-repeat: no-repeat;
						background-position: 55% 50%;
						background-color: #3ec729;
					}
					.summary {
						> p {
							&:after {
								color: #3ec729;
							}
						}
					}
				}
			}
			&.fb {
				.icon {
					float: left;
					width: 80px;
					height: 80px;
					border-radius: 50%;
					background-image: url(/rehabilitate/assets/images/icon_fd.png);
					background-repeat: no-repeat;
					background-position: 50% 50%;
					background-color: #3b579d;
				}
				.summary {
					> p {
						&:after {
							color: #3b579d;
						}
					}
				}
			}
			&.yt {
				.icon {
					float: left;
					width: 80px;
					height: 80px;
					border-radius: 50%;
					background-image: url(/rehabilitate/assets/images/icon_yt.png);
					background-repeat: no-repeat;
					background-position: 60% 50%;
					background-color: #d8362b;
				}
				.summary {
					> p {
						&:after {
							color: #d8362b;
						}
					}
				}
			}
			.summary {
				float: left;
				padding-top: 12px;
				padding-left: 30px;
				h4 {
					font-size: 16px;
					color: #333;
					line-height: 28px;
					font-weight: 400;
				}
				> p {
					display: inline-block;
					font-size: 16px;
					color: #333;
					line-height: 28px;
					font-weight: 400;
					&:after {
						position: relative;
						top: -2px;
						display: none;
						content: "\E805";
						font-family: "fontello";
						font-size: 15px;
						margin-left: 10px;
					}
				}
			}
		}
	}
}

.service {
    background-color: #fffbf4;
	&.action {
		.section-header {
			h3 {
				top: 0;
				opacity: 1;
				strong {
					top: 0;
					opacity: 1;
				}
			}
			p {
				top: 0;
				opacity: 1;
			}
		}
		 .section-content {
			> article {
				.details {
					h4 {
						top: 0;
						opacity: 1;
					}
					> p {
						top: 0;
						opacity: 1;
					}
					.btn-area {
						top: 0;
						opacity: 1;
					}
				}
				&.speech {
					figure {
						.img-fluid {
							right: 0;
							opacity: 1;
						}
					}
				}
				&.sports {
					figure {
						.img-fluid {
							left: 0;
							opacity: 1;
						}
					}
				}				
			}
		}
	}
    .section-header {
        text-align: center;
        padding: 100px 0 90px;
        h3 {
			position: relative;
			top: -30px;
			opacity: 0;
            font-size: 37px;
            color: #2b2b2b;
            font-weight: 600;
            letter-spacing: -2px;
			@include transition($duration: .5s, $delay: .5s);
            strong {
                display: block;
                font-size: 46px;
                color: #e9193a;
                font-weight: bold;
                letter-spacing: 0;
                @include exo();
            }
        }
        p {
			position: relative;
			top: -30px;
			opacity: 0;
            font-size: 17px;
            color: #999;
            font-weight: 300;
            margin-top: 20px;
			@include transition($duration: .5s, $delay: .5s);
        }
    }
    .section-content {
        display: table;
        width: 100%;
        padding-right: 95px;
        table-layout: fixed;
        > article {
            position: relative;
            display: table-cell;
            width: 50%;
            padding: 60px 0 40px;
            vertical-align: middle;
            figure {
				overflow: hidden;
                position: absolute;
                bottom: 0;
                z-index: 1;
                .img-fluid {
					position: relative; 
                    max-width: 740px;
                    min-width: 740px;
                }
            }
            .details {
                position: relative;
                z-index: 2;
                h4 {
					position: relative;
					top: 30px;
					opacity: 0;
					font-size: 28px;
					color: #fff;
                    letter-spacing: -1px;
					font-weight: bold;
                    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
					@include transition($duration: .5s, $delay: 2.5s);
				}
				> p {
					position: relative;
					top: 30px;
					opacity: 0;
					font-size: 16px;
					color: #fff;
                    letter-spacing: -.5px;
					line-height: 28px;
					font-weight: 300;
					margin-top: 25px;
                    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
					@include transition($duration: .5s, $delay: 2.5s);
				}
				.btn-area {
					position: relative;
					top: 30px;
					opacity: 0;
					margin-top: 35px;
					@include transition($duration: .5s, $delay: 2.5s);
					p {
						.btn-default {
							display: inline-block;
							width: 155px;
							line-height: 40px;
							font-size: 13px;
							color: #fff;
							text-align: center;
							border: 1px solid #fff;
							&:hover {
								background-color: #e9193a;
								border-color: #e9193a;
								color: #fff;
							}
						}
					}
				}
            }
            &.speech {
                text-align: right;
                padding-right: 60px;
                background-color: #ebaf3c;
                figure {
                    left: 0;
                    padding-right: 95px;
					.img-fluid {
						right: 140px;
						opacity: 0;
						@include transition($duration: .5s, $delay: 1.5s);
					}
                }
            }
            &.sports {
                padding-left: 60px;
                text-align: left;
                background-color: #4b85c3;
                figure {
                    right: 0px;
                    padding-left: 95px;
					.img-fluid {
						left: 140px;
						opacity: 0;
						@include transition($duration: .5s, $delay: 1.5s);
					}
                }
            }
        }
    }
}