@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url("https://fonts.googleapis.com/css?family=Exo+2:400,700,800");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700");
@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2") format("woff2"), url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff") format("woff"); }
@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2") format("woff2"), url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff") format("woff"); }
/* 초기화 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dt {
    font-weight: 400; }
  dl dd {
    font-weight: 400;
    margin: 0; }

address {
  margin-bottom: 0; }

figure {
  margin-bottom: 0; }

label {
  margin: 0;
  font-weight: 400; }

body {
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  color: #666;
  font-weight: 400;
  min-width: 1200px !important; }

.container {
  max-width: 1200px !important; }

a {
  color: inherit;
  text-decoration: none !important; }
  a:hover {
    color: inherit; }

.btn {
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: none !important;
  border-radius: 0;
  background: none; }

.form-group {
  margin: 0; }

.form-control {
  border-radius: 0;
  box-shadow: none !important; }

#content {
  padding-top: 95px; }
  #content .sub-title {
    margin-bottom: 90px; }
    #content .sub-title p {
      font-size: 16px;
      line-height: 32px;
      padding-left: 0;
      margin-top: 30px; }
  #content .care > div .details > .circle-list > li {
    line-height: 26px; }
    #content .care > div .details > .circle-list > li span {
      top: 5px; }
  #content .slider {
    margin-top: 120px; }

.teenager .page-intro {
  background-image: url(/rehabilitate/assets/images/remedial/bg_intro_teenager.jpg); }

.adult .page-intro {
  background-image: url(/rehabilitate/assets/images/remedial/bg_intro_adult.jpg); }

.speech-therapy .care .target .details .circle-list li {
  display: inline-block;
  width: 490px;
  font-weight: 300;
  vertical-align: top; }
  .speech-therapy .care .target .details .circle-list li:nth-of-type(2) {
    margin: 0; }

.teenager-physical .care > div .details > .circle-list > li ~ li {
  margin-top: 45px; }

.teenager-occupational .care > div.contents .details .circle-list > li {
  line-height: 22px;
  margin-top: 10px; }
  .teenager-occupational .care > div.contents .details .circle-list > li ~ li {
    margin-top: 10px; }
  .teenager-occupational .care > div.contents .details .circle-list > li:first-child {
    margin-top: 0; }
  .teenager-occupational .care > div.contents .details .circle-list > li span {
    top: 6px; }
.teenager-occupational .care > div .details > .circle-list > li ~ li {
  margin-top: 10px; }

.teenager-info {
  background-image: url(/rehabilitate/assets/images/remedial/bg_teenager_info.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }
  .teenager-info article {
    background-repeat: no-repeat; }
    .teenager-info article .summary h4 {
      position: relative;
      display: inline-block;
      font-size: 36px;
      color: #333;
      padding-top: 50px;
      padding-right: 170px; }
      .teenager-info article .summary h4 img {
        position: absolute;
        top: 30px;
        left: 0; }
      .teenager-info article .summary h4 strong {
        font-size: 60px;
        font-weight: 500;
        white-space: nowrap; }
        .teenager-info article .summary h4 strong i {
          color: #28b690;
          font-style: normal; }
      .teenager-info article .summary h4:after {
        position: absolute;
        bottom: 0;
        right: 25px;
        content: url(/rehabilitate/assets/images/remedial/bg_teenager_intro.png); }
    .teenager-info article .summary p {
      font-size: 16px;
      color: #666;
      line-height: 30px;
      margin-top: 60px; }
      .teenager-info article .summary p b {
        font-weight: 500;
        color: #28b690; }
    .teenager-info article.reason {
      padding-top: 110px;
      text-align: left;
      background-image: url(/rehabilitate/assets/images/remedial/img_teenager_info01.png);
      background-position: 0 0; }
      .teenager-info article.reason .summary {
        padding-left: 70px; }
        .teenager-info article.reason .summary h4 strong {
          position: relative;
          display: block;
          margin-left: 170px; }
        .teenager-info article.reason .summary h4 img {
          top: 6px; }
    .teenager-info article.advantag {
      padding-top: 67px;
      margin-top: 190px;
      text-align: right;
      background-image: url(/rehabilitate/assets/images/remedial/img_teenager_info02.png);
      background-position: 100% 0; }
      .teenager-info article.advantag .summary {
        padding-right: 70px; }

/*# sourceMappingURL=remedial.css.map */
