@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url("https://fonts.googleapis.com/css?family=Exo+2:400,700,800");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype"); }
/* 초기화 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dt {
    font-weight: 400; }
  dl dd {
    font-weight: 400;
    margin: 0; }

address {
  margin-bottom: 0; }

figure {
  margin-bottom: 0; }

label {
  margin: 0;
  font-weight: 400; }

body {
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  color: #666;
  font-weight: 400;
  min-width: 1200px !important; }

.container {
  max-width: 1200px !important; }

a {
  color: inherit;
  text-decoration: none !important; }
  a:hover {
    color: inherit; }

.btn {
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: none !important;
  border-radius: 0;
  background: none; }

.form-group {
  margin: 0; }

.form-control {
  border-radius: 0;
  box-shadow: none !important; }

#content {
  padding-top: 95px; }
  #content .sub-title {
    margin-bottom: 90px; }
    #content .sub-title h3 {
      font-size: 28px;
      font-weight: 400;
      padding-left: 15px;
      line-height: 26px;
      border-left: 3px solid #28b690; }
      #content .sub-title h3:before {
        display: none; }
    #content .sub-title p {
      font-size: 16px;
      line-height: 32px;
      padding-left: 0;
      margin-top: 30px; }
  #content .care > div .details > .circle-list > li {
    line-height: 26px; }
    #content .care > div .details > .circle-list > li span {
      top: 5px; }
  #content .slider {
    margin-top: 120px; }

.teenager .page-intro {
  background-image: url(/rehabilitate/assets/images/remedial/bg_intro_teenager.jpg); }

.adult .page-intro {
  background-image: url(/rehabilitate/assets/images/remedial/bg_intro_adult.jpg); }

.speech-therapy .care .target .details .circle-list li {
  display: inline-block;
  width: 490px;
  font-weight: 300;
  vertical-align: top; }
  .speech-therapy .care .target .details .circle-list li:nth-of-type(2) {
    margin: 0; }

.teenager-physical .care > div .details > .circle-list > li ~ li {
  margin-top: 45px; }

.teenager-occupational .care > div.contents .details .circle-list > li {
  line-height: 22px;
  margin-top: 10px; }
  .teenager-occupational .care > div.contents .details .circle-list > li ~ li {
    margin-top: 10px; }
  .teenager-occupational .care > div.contents .details .circle-list > li:first-child {
    margin-top: 0; }
  .teenager-occupational .care > div.contents .details .circle-list > li span {
    top: 6px; }
.teenager-occupational .care > div .details > .circle-list > li ~ li {
  margin-top: 10px; }

/*# sourceMappingURL=remedial.css.map */
