@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro");
@import url("https://fonts.googleapis.com/css?family=Exo+2");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

figure {
  margin: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

label {
  font-weight: 400;
  margin-bottom: 0; }

a {
  color: inherit; }
  a:hover {
    color: inherit;
    text-decoration: none; }

.btn {
  padding: 0;
  border-radius: 0;
  border: 0;
  background: none;
  box-shadow: none !important; }

.form-group {
  margin: 0; }

.form-control {
  border-radius: 0;
  box-shadow: none !important; }

.container {
  max-width: 100% !important;
  padding: 0 10px !important; }
  .container .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }

body {
  min-width: 320px;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif; }

body {
  position: relative; }
  body .scroll-down {
    position: absolute;
    bottom: 25px;
    left: 0;
    z-index: 1;
    width: 100%;
    text-align: center; }
    body .scroll-down img {
      position: relative;
      top: -50px;
      width: 14px;
      display: inline-block;
      font-size: 20px;
      color: #fff;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
    body .scroll-down p {
      font-size: 10px;
      color: #fff;
      letter-spacing: 1px;
      text-decoration: none;
      font-family: 'Maven Pro', sans-serif; }
    body .scroll-down.on img {
      top: -40px; }

.page-intro {
  position: relative; }
  .page-intro .logo {
    position: absolute;
    top: 25px;
    left: 50%;
    z-index: 1;
    margin-left: -60px; }
    .page-intro .logo a {
      display: block; }
      .page-intro .logo a img {
        width: 120px; }
  .page-intro .jumbotron {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background: none; }
    .page-intro .jumbotron .intro-slider {
      position: relative;
      width: 100%;
      height: 100%; }
      .page-intro .jumbotron .intro-slider li {
        outline: none;
        display: table;
        text-align: center;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%; }
        .page-intro .jumbotron .intro-slider li .slogan {
          display: table-cell;
          height: 100%;
          vertical-align: middle; }
          .page-intro .jumbotron .intro-slider li .slogan h2 {
            position: relative;
            top: -30px;
            font-size: 30px;
            color: #fff;
            font-weight: 300;
            line-height: 40px;
            margin-bottom: 30px;
            opacity: 0;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.8s;
            transition-duration: 0.8s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
            .page-intro .jumbotron .intro-slider li .slogan h2 strong {
              font-weight: bold; }
              .page-intro .jumbotron .intro-slider li .slogan h2 strong i {
                font-style: normal;
                color: #e9193a; }
          .page-intro .jumbotron .intro-slider li .slogan p {
            position: relative;
            top: -30px;
            font-size: 12px;
            color: #fff;
            line-height: 20px;
            font-weight: 300;
            opacity: 0;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.8s;
            transition-duration: 0.8s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s; }
        .page-intro .jumbotron .intro-slider li.action .slogan h2 {
          top: 0;
          opacity: 1; }
        .page-intro .jumbotron .intro-slider li.action .slogan p {
          top: 0;
          opacity: 1; }
      .page-intro .jumbotron .intro-slider .slick-list {
        height: 100%; }
        .page-intro .jumbotron .intro-slider .slick-list .slick-track {
          height: 100%; }

.pain {
  padding: 0 5px;
  background-image: url(/mobile/assets/images/bg_pain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .pain .fp-tableCell {
    vertical-align: top; }
  .pain .summary {
    padding-top: 25px; }
    .pain .summary small {
      display: block;
      font-size: 12px;
      color: #fff;
      font-weight: 300; }
    .pain .summary h3 {
      margin-top: 20px; }
      .pain .summary h3 img {
        display: block; }
    .pain .summary .btn-area {
      margin-top: 30px; }
      .pain .summary .btn-area .btn-default {
        width: 120px;
        height: 35px;
        font-size: 12px;
        font-weight: 400;
        color: #4575ca;
        line-height: 35px;
        border-radius: 30px;
        background-color: #fff; }

.rehabilitate {
  background-image: url(/mobile/assets/images/bg_rehabilitate.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .rehabilitate .fp-tableCell {
    vertical-align: top; }
  .rehabilitate .summary {
    padding-top: 25px; }
    .rehabilitate .summary small {
      display: block;
      font-size: 12px;
      color: #fff;
      font-weight: 300; }
    .rehabilitate .summary h3 {
      margin-top: 20px; }
      .rehabilitate .summary h3 img {
        display: block; }
    .rehabilitate .summary .btn-area {
      margin-top: 30px; }
      .rehabilitate .summary .btn-area .btn-default {
        width: 120px;
        height: 35px;
        font-size: 12px;
        font-weight: 400;
        color: #4575ca;
        line-height: 35px;
        border-radius: 30px;
        background-color: #fff; }

.footer {
  height: 140px !important;
  text-align: center;
  background-color: #282828; }
  .footer .fp-tableCell {
    height: 140px !important; }
  .footer .copyright {
    font-size: 12px;
    color: #999;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: .5px;
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 15px; }
  .footer .family-site .btn-secondary {
    width: 220px;
    font-size: 12px;
    color: #999;
    text-align: left;
    line-height: 35px;
    font-family: 'Exo 2', sans-serif;
    padding: 0 15px;
    border: 0;
    background-color: #222; }
    .footer .family-site .btn-secondary:after {
      float: right;
      font-family: "fontello";
      content: "\E800";
      border: 0; }
  .footer .family-site .dropdown-menu {
    width: 220px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    /*transform: translate3d(40px, -109px, 0px) !important;*/ }
    .footer .family-site .dropdown-menu a {
      width: 100%;
      font-size: 12px;
      color: #333;
      text-align: left;
      line-height: 35px;
      font-family: 'Exo 2', sans-serif;
      padding: 0 15px;
      border-bottom: 1px solid #ccc; }
      .footer .family-site .dropdown-menu a:last-child {
        border-bottom: 0; }

.fp-viewing-1 .pain .summary small {
  top: 0 !important;
  opacity: 1 !important; }
.fp-viewing-1 .pain .summary h3 {
  top: 0 !important;
  opacity: 1 !important; }
.fp-viewing-1 .pain .summary .btn-area {
  top: 0 !important;
  opacity: 1 !important; }

.fp-viewing-2 .rehabilitate .summary small {
  top: 0 !important;
  opacity: 1 !important; }
.fp-viewing-2 .rehabilitate .summary h3 {
  top: 0 !important;
  opacity: 1 !important; }
.fp-viewing-2 .rehabilitate .summary .btn-area {
  top: 0 !important;
  opacity: 1 !important; }

.fp-viewing-3 .scroll-down {
  display: none; }

/*# sourceMappingURL=default.css.map */
