@import 'common';

body {
    position: relative;
    .scroll-down {
        position: absolute;
        bottom: 25px;
        left: 0;
        z-index: 1;
        width: 100%;
        text-align: center;
        img {
            position: relative;
            top: -50px;
            width: 14px;
            display: inline-block;
            font-size: 20px;
            color: #fff;
            @include transition($duration: .5s);
        }
        p {
            font-size: 10px;
            color: #fff;
            letter-spacing: 1px;
            text-decoration: none;
            @include maven();
        }
        &.on {
            img {
                top: -40px;
            }
        }
    }
}

// main page-intro
.page-intro {
    position: relative;
    .logo {
        position: absolute;
        top: 25px;
        left: 50%;
        z-index: 1;
        margin-left: -60px;
        a {
            display: block;
            img {
                width: 120px;
            }
        }
    }
    .jumbotron {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        border-radius: 0;
        background: none;
        .intro-slider {
            position: relative;
            width: 100%;
            height: 100%;
            li {
                outline: none;
                display: table;
                text-align: center;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50% 50%;
                .slogan {
                    display: table-cell;
                    height: 100%;
                    vertical-align: middle;
                    h2 {
                        position: relative;
                        top: -30px;
                        font-size: 30px;
                        color: #fff;
                        font-weight: 300;
                        line-height: 40px;
                        margin-bottom: 30px;
                        opacity: 0;
                        @include transition($duration: .8s);
                        strong {
                            font-weight: bold;
                            i {
                                font-style: normal;
                                color: #e9193a;
                            }
                        }
                    }
                    p {
                        position: relative;
                        top: -30px;
                        font-size: 12px;
                        color: #fff;
                        line-height: 20px;
                        font-weight: 300;
                        opacity: 0;
                        @include transition($duration: .8s, $delay: .4s);
                    }
                }
                &.action {
                    .slogan {
                        h2 {
                            top: 0;
                            opacity: 1;
                        }
                        p {
                            top: 0;
                            opacity: 1;
                        }
                    }
                }
            }
            .slick-list {
                height: 100%;
                .slick-track {
                    height: 100%;
                }
            }
        }
    }
}

// pain
.pain {
    padding: 0 5px;
    background-image: url(/mobile/assets/images/bg_pain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    .fp-tableCell {
        vertical-align: top;
    }
    .summary {
        padding-top: 25px;
        small {
            display: block;
            font-size: 12px;
            color: #fff;
            font-weight: 300;
        }
        h3 {
            margin-top: 20px;
            img {
                display: block;
            }
        }
        .btn-area {
            margin-top: 30px;
            .btn-default {
                width: 120px;
                height: 35px;
                font-size: 12px;
                font-weight: 400;
                color: #4575ca;
                line-height: 35px;
                border-radius: 30px;
                background-color: #fff;
            }
        }
    }
}

// rehabilitate
.rehabilitate {
    background-image: url(/mobile/assets/images/bg_rehabilitate.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    .fp-tableCell {
        vertical-align: top;
    }
    .summary {
        padding-top: 25px;
        small {
            display: block;
            font-size: 12px;
            color: #fff;
            font-weight: 300;
        }
        h3 {
            margin-top: 20px;
            img {
                display: block;
            }
        }
        .btn-area {
            margin-top: 30px;
            .btn-default {
                width: 120px;
                height: 35px;
                font-size: 12px;
                font-weight: 400;
                color: #4575ca;
                line-height: 35px;
                border-radius: 30px;
                background-color: #fff;
            }
        }
    }
}

// footer
.footer {
    height: 140px !important;
    text-align: center;
    background-color: #282828;
    .fp-tableCell {
        height: 140px !important;
    }
    .copyright {
        font-size: 12px;
        color: #999;
        line-height: 18px;
        font-weight: 400;
        letter-spacing: .5px;
        @include exo();
        margin-bottom: 15px;
    }
    .family-site {
        .btn-secondary {
            width: 220px;
            font-size: 12px;
            color: #999;
            text-align: left;
            line-height: 35px;
            @include exo();
            padding: 0 15px;
            border: 0;
            background-color: #222;
            &:after {
                float: right;
                font-family: "fontello";
                content: "\E800";
                border: 0;
            }
        }
        .dropdown-menu {
            width: 220px;
            padding: 0;
            margin: 0;
            border-radius: 0;
            transform: translate3d(40px, -109px, 0px) !important;
            a {
                width: 100%;
                font-size: 12px;
                color: #333;
                text-align: left;
                line-height: 35px;
                @include exo();
                padding: 0 15px;
                border-bottom: 1px solid #ccc;
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
}

.fp-viewing-1 {
    .pain {
        .summary {
            small {
                top: 0 !important;
                opacity: 1 !important;
            }
            h3 {
                top: 0 !important;
                opacity: 1 !important;
            }
            .btn-area {
                top: 0 !important;
                opacity: 1 !important;
            }
        }
    }
}
.fp-viewing-2 {
    .rehabilitate {
        .summary {
            small {
                top: 0 !important;
                opacity: 1 !important;
            }
            h3 {
                top: 0 !important;
                opacity: 1 !important;
            }
            .btn-area {
                top: 0 !important;
                opacity: 1 !important;
            }
        }
    }
}
// fp-viewing-3
.fp-viewing-3 {
    .scroll-down {
        display: none;
    }
}