@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url("https://fonts.googleapis.com/css?family=Exo+2:400,700,800");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700");
@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2") format("woff2"), url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff") format("woff"); }
@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2") format("woff2"), url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff") format("woff"); }
/* 초기화 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dt {
    font-weight: 400; }
  dl dd {
    font-weight: 400;
    margin: 0; }

address {
  margin-bottom: 0; }

figure {
  margin-bottom: 0; }

label {
  margin: 0;
  font-weight: 400; }

body {
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  color: #666;
  font-weight: 400;
  min-width: 1200px !important; }

.container {
  max-width: 1200px !important; }

a {
  color: inherit;
  text-decoration: none !important; }
  a:hover {
    color: inherit; }

.btn {
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: none !important;
  border-radius: 0;
  background: none; }

.form-group {
  margin: 0; }

.form-control {
  border-radius: 0;
  box-shadow: none !important; }

.jumbotron {
  padding: 0;
  margin: 0;
  border-radius: 0;
  background: none; }
  .jumbotron li.slick-slide {
    width: 100%;
    height: 998px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 998px; }
  .jumbotron .slide-wrap {
    width: 100%;
    position: relative; }
    .jumbotron .slide-wrap .slick-list .slick-track .slick-slide figure img {
      width: 100%; }
    .jumbotron .slide-wrap .slick-arrow {
      position: absolute;
      bottom: 23px;
      display: block;
      cursor: pointer;
      padding: 0;
      margin: 0;
      font-size: 25px;
      color: #fff;
      border: 0;
      background: none;
      text-align: center;
      outline: none;
      z-index: 1; }
      .jumbotron .slide-wrap .slick-arrow.slick-prev {
        left: 50%;
        margin-left: -95px; }
      .jumbotron .slide-wrap .slick-arrow.slick-next {
        right: 50%;
        margin-right: -95px; }
    .jumbotron .slide-wrap .slick-dots {
      position: absolute;
      left: 0;
      bottom: 30px;
      width: 100%;
      text-align: center; }
      .jumbotron .slide-wrap .slick-dots li {
        display: inline-block;
        margin-right: 10px; }
        .jumbotron .slide-wrap .slick-dots li.slick-active button {
          width: 46px;
          border-radius: 10px;
          background-color: white; }
        .jumbotron .slide-wrap .slick-dots li button {
          padding: 0;
          cursor: pointer;
          border: 0;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          outline: none;
          text-indent: -999999px;
          background-color: rgba(255, 255, 255, 0.8); }
        .jumbotron .slide-wrap .slick-dots li:last-child {
          margin-right: 0; }

.advantage {
  position: relative;
  width: 100%;
  height: 675px;
  padding-left: 715px; }
  .advantage .section-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 715px;
    height: 675px;
    color: #fff;
    padding: 74px 90px;
    background-color: #2861b6; }
    .advantage .section-header h3 {
      font-size: 46px;
      font-weight: 500;
      letter-spacing: -.5px; }
      .advantage .section-header h3 small {
        display: block;
        font-size: 25px;
        font-weight: 300;
        margin-bottom: 5px;
        letter-spacing: -.25px; }
      .advantage .section-header h3 strong {
        position: relative;
        display: inline-block;
        font-weight: bold;
        color: #fff200;
        padding-right: 15px; }
        .advantage .section-header h3 strong:after {
          position: absolute;
          top: 50%;
          right: 0;
          margin-top: -44px;
          content: url(/pain/assets/images/main/bg_advantage_title.png); }
    .advantage .section-header dl {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.8);
      margin-top: 40px; }
      .advantage .section-header dl dt {
        position: relative;
        display: inline-block;
        font-weight: 400;
        line-height: 28px;
        padding-bottom: 10px; }
        .advantage .section-header dl dt span {
          position: absolute;
          bottom: 5px;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: rgba(255, 255, 255, 0.8); }
      .advantage .section-header dl dd {
        display: block;
        font-weight: 300;
        letter-spacing: -.25px;
        line-height: 26px; }
    .advantage .section-header .slider-nav {
      overflow: hidden;
      margin-top: 70px; }
      .advantage .section-header .slider-nav .slick-list .slick-track {
        transform: none !important; }
      .advantage .section-header .slider-nav li {
        float: left;
        width: 50% !important;
        outline: none; }
        .advantage .section-header .slider-nav li:nth-of-type(2) ~ li {
          margin-top: 20px; }
        .advantage .section-header .slider-nav li:nth-of-type(odd) {
          padding-right: 9.5px; }
        .advantage .section-header .slider-nav li:nth-of-type(even) {
          padding-left: 9.5px; }
        .advantage .section-header .slider-nav li .controls {
          width: 256px !important; }
          .advantage .section-header .slider-nav li .controls > .summary {
            display: block;
            width: 100%;
            height: 95px;
            cursor: pointer;
            text-align: left;
            color: #fff;
            padding: 20px;
            border: 1px solid #fff;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
            .advantage .section-header .slider-nav li .controls > .summary span {
              font-size: 14px;
              font-weight: bold;
              font-family: 'Roboto', sans-serif;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.15s;
              transition-duration: 0.15s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 0s;
              transition-delay: 0s; }
            .advantage .section-header .slider-nav li .controls > .summary h4 {
              font-size: 16px;
              font-weight: 400;
              margin-top: 10px;
              letter-spacing: -.5px;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.15s;
              transition-duration: 0.15s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 0s;
              transition-delay: 0s; }
            .advantage .section-header .slider-nav li .controls > .summary:hover {
              opacity: .8;
              background-color: #fff; }
              .advantage .section-header .slider-nav li .controls > .summary:hover span {
                color: #eb374f; }
              .advantage .section-header .slider-nav li .controls > .summary:hover h4 {
                color: #2861b6; }
        .advantage .section-header .slider-nav li.slick-current .controls > .summary {
          background-color: #fff; }
          .advantage .section-header .slider-nav li.slick-current .controls > .summary span {
            color: #eb374f; }
          .advantage .section-header .slider-nav li.slick-current .controls > .summary h4 {
            color: #2861b6;
            font-weight: 500; }
          .advantage .section-header .slider-nav li.slick-current .controls > .summary:hover {
            opacity: 1; }
  .advantage .section-content {
    width: 100%;
    height: 675px; }
    .advantage .section-content .advantage-slider {
      width: 100%;
      height: 675px; }
      .advantage .section-content .advantage-slider li {
        display: table;
        width: 100%;
        height: 675px;
        padding-right: 95px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover; }
        .advantage .section-content .advantage-slider li .v-align {
          display: table-cell;
          height: 675px;
          vertical-align: middle; }
          .advantage .section-content .advantage-slider li .v-align .details {
            text-align: center;
            display: block;
            width: 530px;
            height: 300px;
            margin: 0 auto;
            padding: 45px 0;
            background-color: rgba(255, 255, 255, 0.88); }
            .advantage .section-content .advantage-slider li .v-align .details span {
              display: block;
              font-size: 26px;
              font-weight: bold;
              color: #2861b6;
              letter-spacing: -.25px;
              font-family: 'Roboto', sans-serif; }
            .advantage .section-content .advantage-slider li .v-align .details h4 {
              font-size: 34px;
              color: #333;
              font-weight: 500;
              letter-spacing: -.5px;
              margin-top: 10px; }
            .advantage .section-content .advantage-slider li .v-align .details hr {
              display: block;
              width: 50px;
              margin: 30px auto;
              border-top: 1px solid #2861b6; }
            .advantage .section-content .advantage-slider li .v-align .details p {
              font-size: 16px;
              color: #666;
              font-weight: 300;
              line-height: 24px; }

.program {
  padding: 100px 0 100px; }
  .program .section-header {
    position: relative;
    top: -50px;
    opacity: 0;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    padding-bottom: 60px;
    text-align: center; }
    .program .section-header h3 {
      font-size: 38px;
      color: #2b2b2b;
      font-weight: bold; }
      .program .section-header h3 i {
        color: #e9193a;
        font-style: normal; }
    .program .section-header p {
      font-size: 17px;
      color: #999;
      font-weight: 400;
      margin-top: 30px; }
  .program .section-content {
    position: relative;
    bottom: -50px;
    opacity: 0;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
    /*padding-bottom: 100px;*/ }
    .program .section-content > ul > li:nth-of-type(3) ~ li .details {
      margin-top: 30px; }
    .program .section-content > ul > li .details {
      position: relative;
      text-align: center; }
      .program .section-content > ul > li .details figure .img-fluid {
        width: 100%; }
      .program .section-content > ul > li .details figure figcaption {
        position: absolute;
        bottom: 25px;
        left: 0;
        width: 100%;
        display: block;
        /*opacity: 1;*/
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .program .section-content > ul > li .details figure figcaption > h4 {
          font-size: 18px;
          color: #fff;
          font-weight: 400; }
      .program .section-content > ul > li .details .hover-details {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        padding-top: 45px;
        opacity: 0;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .program .section-content > ul > li .details .hover-details h4 {
          font-size: 22px;
          font-weight: 500; }
        .program .section-content > ul > li .details .hover-details p {
          font-size: 15px;
          line-height: 24px;
          font-weight: 400;
          margin: 30px 0 40px; }
        .program .section-content > ul > li .details .hover-details .btn-area .btn-more {
          display: inline-block;
          width: 170px;
          font-size: 15px;
          line-height: 38px;
          border: 1px solid #fff;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .program .section-content > ul > li .details .hover-details .btn-area .btn-more:hover {
            color: #2861b6;
            border-color: #fff;
            background-color: #fff; }
      .program .section-content > ul > li .details:hover figure figcaption {
        opacity: 0; }
      .program .section-content > ul > li .details:hover .hover-details {
        opacity: 1;
        background-color: rgba(40, 97, 182, 0.9); }
  .program.action .section-header {
    top: 0;
    opacity: 1; }
  .program.action .section-content {
    bottom: 0;
    opacity: 1; }

.news {
  width: 100%;
  height: 895px;
  padding-top: 105px;
  background-color: #eef3f8; }
  .news .notice {
    position: relative;
    width: 100%;
    height: 430px; }
    .news .notice .item {
      padding-top: 40px; }
      .news .notice .item img {
        position: relative;
        right: 130px;
        opacity: 0;
        box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.05);
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 1.5s;
        transition-duration: 1.5s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0.25s;
        transition-delay: 0.25s; }
    .news .notice .details {
      position: absolute;
      top: 0;
      right: -130px;
      opacity: 0;
      width: 645px;
      height: 360px;
      padding: 50px 65px 0 45px;
      background-color: #fff;
      box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.05);
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1.5s;
      transition-duration: 1.5s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0.25s;
      transition-delay: 0.25s; }
      .news .notice .details small {
        display: block;
        font-size: 13px;
        color: #e9193a;
        letter-spacing: 1px;
        font-weight: 800;
        font-family: 'Exo 2', sans-serif; }
      .news .notice .details h3 {
        font-size: 30px;
        color: #333;
        line-height: 36px;
        font-weight: 400;
        letter-spacing: -1px;
        margin-top: 15px; }
      .news .notice .details > p {
        font-size: 15px;
        color: #666;
        line-height: 26px;
        margin-top: 25px; }
      .news .notice .details .p-txt {
        margin-top: 30px;
        position: relative;
        padding: 0 20px;
        text-align: center;
        margin-right: 30px;
        display: inline-block;
        line-height: 40px; }
        .news .notice .details .p-txt > p {
          position: relative;
          font-size: 13px;
          line-height: 40px;
          z-index: 2;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
        .news .notice .details .p-txt > span {
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          display: block;
          z-index: 1;
          background-color: #e9193a;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
        .news .notice .details .p-txt:hover p {
          color: #fff; }
        .news .notice .details .p-txt:hover span {
          width: 100%; }
  .news .notice-board {
    margin-top: 40px; }
    .news .notice-board .col-4 > div {
      position: relative;
      top: 50px;
      opacity: 0; }
      .news .notice-board .col-4 > div.effect01 {
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 1.5s;
        transition-delay: 1.5s; }
      .news .notice-board .col-4 > div.effect02 {
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 1.8s;
        transition-delay: 1.8s; }
      .news .notice-board .col-4 > div.effect03 {
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 2.3s;
        transition-delay: 2.3s; }
    .news .notice-board .news-card {
      position: relative;
      height: 200px;
      padding: 30px 30px 15px;
      background-color: #fff; }
      .news .notice-board .news-card small {
        display: block;
        font-size: 12px;
        color: #2861b6;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: 'Exo 2', sans-serif; }
      .news .notice-board .news-card > h3 {
        font-size: 22px;
        color: #333;
        font-weight: 400;
        line-height: 34px;
        margin-top: 10px; }
      .news .notice-board .news-card .p-txt02 {
        position: absolute;
        bottom: 30px;
        left: 30px;
        display: inline-block;
        margin-top: 40px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .news .notice-board .news-card .p-txt02 > p {
          font-size: 12px;
          color: #999; }
        .news .notice-board .news-card .p-txt02 > span {
          position: absolute;
          bottom: -2px;
          left: 0;
          display: inline-block;
          width: 0;
          height: 1px;
          background-color: #fff;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s; }
      .news .notice-board .news-card:hover {
        background-color: #2861b6;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.18); }
        .news .notice-board .news-card:hover small {
          color: #fff; }
        .news .notice-board .news-card:hover > h3 {
          color: #fff; }
        .news .notice-board .news-card:hover .p-txt02 > p {
          color: #fff; }
        .news .notice-board .news-card:hover .p-txt02 > span {
          width: 100%;
          right: 0; }
  .news.action .notice .item img {
    right: 0;
    opacity: 1; }
  .news.action .notice .details {
    right: 0;
    opacity: 1; }
  .news.action .notice-board .col-4 > div {
    top: 0;
    opacity: 1; }

.social {
  overflow: hidden;
  width: 100%;
  padding: 45px 0;
  background-color: #fff;
  border: 1px solid #efeeed; }
  .social .info a:hover .summary > p:after {
    display: inline-block; }
  .social .info a:hover .summary > p > span {
    width: 100%;
    left: 0;
    background-color: #999;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0.005s;
    transition-delay: 0.005s; }
  .social .info.blog a .icon {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url(/pain/assets/images/icon_naver.png);
    background-repeat: no-repeat;
    background-position: 55% 50%;
    background-color: #3ec729; }
  .social .info.blog a .summary > p:after {
    color: #3ec729; }
  .social .info.fb .icon {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url(/pain/assets/images/icon_fd.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #3b579d; }
  .social .info.fb .summary > p:after {
    color: #3b579d; }
  .social .info.yt .icon {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url(/pain/assets/images/icon_yt.png);
    background-repeat: no-repeat;
    background-position: 60% 50%;
    background-color: #d8362b; }
  .social .info.yt .summary > p:after {
    color: #d8362b; }
  .social .info .summary {
    float: left;
    padding-top: 12px;
    padding-left: 30px; }
    .social .info .summary h4 {
      font-size: 16px;
      color: #333;
      line-height: 28px;
      font-weight: 400; }
    .social .info .summary > p {
      display: inline-block;
      font-size: 16px;
      color: #333;
      line-height: 28px;
      font-weight: 400; }
      .social .info .summary > p:after {
        position: relative;
        top: -2px;
        display: none;
        content: "\E805";
        font-family: "fontello";
        font-size: 15px;
        margin-left: 10px; }

.service {
  background-color: #fffbf4; }
  .service.action .section-header h3 {
    top: 0;
    opacity: 1; }
    .service.action .section-header h3 strong {
      top: 0;
      opacity: 1; }
  .service.action .section-header p {
    top: 0;
    opacity: 1; }
  .service.action .section-content > article .details h4 {
    top: 0;
    opacity: 1; }
  .service.action .section-content > article .details > p {
    top: 0;
    opacity: 1; }
  .service.action .section-content > article .details .btn-area {
    top: 0;
    opacity: 1; }
  .service.action .section-content > article.speech figure .img-fluid {
    right: 0;
    opacity: 1; }
  .service.action .section-content > article.sports figure .img-fluid {
    left: 0;
    opacity: 1; }
  .service .section-header {
    text-align: center;
    padding: 100px 0 90px; }
    .service .section-header h3 {
      position: relative;
      top: -30px;
      opacity: 0;
      font-size: 37px;
      color: #2b2b2b;
      font-weight: 600;
      letter-spacing: -2px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0.5s;
      transition-delay: 0.5s; }
      .service .section-header h3 strong {
        display: block;
        font-size: 46px;
        color: #e9193a;
        font-weight: bold;
        letter-spacing: 0;
        font-family: 'Exo 2', sans-serif; }
    .service .section-header p {
      position: relative;
      top: -30px;
      opacity: 0;
      font-size: 17px;
      color: #999;
      font-weight: 300;
      margin-top: 20px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0.5s;
      transition-delay: 0.5s; }
  .service .section-content {
    display: table;
    width: 100%;
    padding-right: 95px;
    table-layout: fixed; }
    .service .section-content > article {
      position: relative;
      display: table-cell;
      width: 50%;
      padding: 60px 0 40px;
      vertical-align: middle; }
      .service .section-content > article figure {
        overflow: hidden;
        position: absolute;
        bottom: 0;
        z-index: 1; }
        .service .section-content > article figure .img-fluid {
          position: relative;
          max-width: 740px;
          min-width: 740px; }
      .service .section-content > article .details {
        position: relative;
        z-index: 2; }
        .service .section-content > article .details h4 {
          position: relative;
          top: 30px;
          opacity: 0;
          font-size: 28px;
          color: #fff;
          letter-spacing: -1px;
          font-weight: bold;
          text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s; }
        .service .section-content > article .details > p {
          position: relative;
          top: 30px;
          opacity: 0;
          font-size: 16px;
          color: #fff;
          letter-spacing: -.5px;
          line-height: 28px;
          font-weight: 300;
          margin-top: 25px;
          text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s; }
        .service .section-content > article .details .btn-area {
          position: relative;
          top: 30px;
          opacity: 0;
          margin-top: 35px;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s; }
          .service .section-content > article .details .btn-area p .btn-default {
            display: inline-block;
            width: 155px;
            line-height: 40px;
            font-size: 13px;
            color: #fff;
            text-align: center;
            border: 1px solid #fff; }
            .service .section-content > article .details .btn-area p .btn-default:hover {
              background-color: #e9193a;
              border-color: #e9193a;
              color: #fff; }
      .service .section-content > article.speech {
        text-align: right;
        padding-right: 60px;
        background-color: #ebaf3c; }
        .service .section-content > article.speech figure {
          left: 0;
          padding-right: 95px; }
          .service .section-content > article.speech figure .img-fluid {
            right: 140px;
            opacity: 0;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 1.5s;
            transition-delay: 1.5s; }
      .service .section-content > article.sports {
        padding-left: 60px;
        text-align: left;
        background-color: #4b85c3; }
        .service .section-content > article.sports figure {
          right: 0px;
          padding-left: 95px; }
          .service .section-content > article.sports figure .img-fluid {
            left: 140px;
            opacity: 0;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 1.5s;
            transition-delay: 1.5s; }

/*# sourceMappingURL=main.css.map */
