@import 'common';

// 공지사항 리스트
.notice-list {
	.section-content {
		.board-list {
			margin-top: 20px;
		}
		.paging {
			margin-top: 70px;
		}
	}
}

// 공지사항 뷰
.notice-view {
	.section-content {
		.btn-area {
			margin-top: 30px;
			text-align: right;
			p {
				.btn {
					width: 135px;
					font-size: 14px;
					line-height: 40px;
				}
			}
		}
	}
}

// 재활&건강정보 리스트
.health-list {
	.section-content {
		.board-list {
			margin-top: 20px;
		}
		.paging {
			margin-top: 70px;
		}
	}
}

// 재활&건강정보 뷰
.health-view {
	.section-content {
		.btn-area {
			margin-top: 30px;
			text-align: right;
			p {
				.btn {
					width: 135px;
					font-size: 14px;
					line-height: 40px;
				}
			}
		}
	}
}

// 뉴스레터
.news-letter {
	.section-header {
		.page-title {
			padding-bottom: 90px;
		}
	}
	.section-content {
		.paging {
			margin-top: 90px;
		}
	}
}

// social-contribution
.social-contribution {
    .page-title {
        padding-bottom: 0;
        .visual-content {
            position: relative;
            height: 680px;
            margin-top: 60px;
            background-image: url(/pain/assets/images/notice/bg_social.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            .container {
                position: absolute;
                bottom: -100px;
                left: 50%;
                margin-left: -585px;
                text-align: right;
                .details {
                    display: inline-block;
                    text-align: right;
                    padding: 50px 70px 55px;
                    background-color: rgba(27, 27, 27, .75);
                    p {
                        font-size: 16px;
                        color: #fff;
                        line-height: 30px;
                    }
                    .btn-area {
                        margin-top: 40px;
                        .btn-more {
                            width: 180px;
                            line-height: 44px;
                            border: 1px solid #fff;
                            border-radius: 30px;
                            text-align: center;
                            color: #fff;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    article {
        & ~ article {
            margin-top: 130px;
        }
        .article-header {
            padding-bottom: 60px;
            h4 {
                font-size: 28px;
                color: #333;
                font-weight: 400;
                line-height: 28px;
                padding-left: 20px;
                border-left: 3px solid $kcolor;
            }
        }
        .article-content {
            .decimal-list {
                li {
                    position: relative;
                    padding-left: 30px;
                    & ~ li {
                        margin-top: 50px;
                    }
                    span {
                        position: absolute;
                        top: 6px;
                        left: 0;
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        text-align: center;
                        font-size: 12px;
                        font-weight: 400;
                        color: #fff;
                        @include maven();
                        border-radius: 50%;
                        background-color: $kcolor;
                    }
                    dl {
                        dt {
                            font-size: 16px;
                            color: #333;
                            line-height: 32px;
                            font-weight: 400;
                            margin-bottom: 10px;
                        }
                        dd {
                            font-size: 15px;
                            color: #666;
                            font-weight: 300;
                            line-height: 32px;
                        }
                    }
                    p {
                        font-size: 15px;
                        color: #666;
                        font-weight: 300;
                        line-height: 32px;
                    }
                }
            }
        }
        &.necessity {
            padding-top: 205px;
        }
        &.support-business {
            .article-content {
                > ol {
                    > li {
                        &:nth-of-type(2) ~ li {
                            figure {
                                margin-top: 80px;
                            }
                        }
                        figure {
                            .img-fluid {
                                width: 100%;
                            }
                            figcaption {
                                margin-top: 35px;
                                dl {
                                    dt {
                                        font-size: 18px;
                                        color: #333;
                                        font-weight: 400;
                                        margin-bottom: 25px;
                                        span {
                                            position: relative;
                                            top: 3px;
                                            vertical-align: top;
                                            display: inline-block;
                                            margin-right: 10px;
                                            width: 20px;
                                            height: 20px;
                                            line-height: 20px;
                                            text-align: center;
                                            font-size: 12px;
                                            font-weight: 400;
                                            color: #fff;
                                            @include maven();
                                            border-radius: 50%;
                                            background-color: $kcolor;
                                        }
                                    }
                                    dd {
                                        font-size: 16px;
                                        color: #666;
                                        font-weight: 300;
                                        line-height: 28px;
                                        word-break: keep-all;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.campaign {
            .article-content {
                > ul {
                    > li {
                        > a {
                            overflow: hidden;
                            display: block;
                            border: 1px solid #eee;
                            border-radius: 30px;
                            figure {
                                img {
                                    width: 100%;
                                }
                                figcaption {
                                    p {
                                        text-align: center;
                                        font-size: 16px;
                                        line-height: 60px;
                                        &.default-txt {
                                            color: #333;
                                            background-color: #fff;
                                        }
                                        &.event-txt {
                                            color: #fff;
                                            display: none;
                                            background-color: #28b690;
                                        }
                                    }
                                }
                            }
                            &:hover {
                                figure {
                                    figcaption {
                                        p {
                                            &.default-txt {
                                                display: none;
                                            }
                                            &.event-txt {
                                                display: block;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.support-guide {
            .article-content {
                ul {
                    overflow: hidden;
                    li {
                        float: left;
                        width: 25%;
                        height: 240px;
                        padding: 40px 30px 0;
                        color: #fff;
                        background-repeat: no-repeat;
                        background-position: 95% 100%;
                        dl {
                            dt {
                                font-size: 22px;
                                font-weight: 400;
                                margin-bottom: 25px;
                            }
                            dd {
                                font-size: 15px;
                                font-weight: 300;
                                line-height: 26px;
                                letter-spacing: -1px;
                            }
                        }
                        &:nth-of-type(1) {
                            background-color: #e91a3b;
                            background-image: url(/pain/assets/images/notice/bg_support_guide01.png);
                        }
                        &:nth-of-type(2) {
                            background-color: #776042;
                            background-image: url(/pain/assets/images/notice/bg_support_guide02.png);
                        }
                        &:nth-of-type(3) {
                            background-color: #28b690;
                            background-image: url(/pain/assets/images/notice/bg_support_guide03.png);
                        }
                        &:nth-of-type(4) {
                            background-color: #2d65a8;
                            background-image: url(/pain/assets/images/notice/bg_support_guide04.png);
                        }
                    }
                }
            }
        }
    }
}