
.icon-plus:before { content: '\e800'; } /* '' */
.icon-dot:before { content: '\e801'; } /* '' */
.icon-plus-1:before { content: '\e802'; } /* '' */
.icon-minus:before { content: '\e803'; } /* '' */
.icon-down-open:before { content: '\e804'; } /* '' */
.icon-left-open:before { content: '\e805'; } /* '' */
.icon-up-open:before { content: '\e806'; } /* '' */
.icon-right-open:before { content: '\e807'; } /* '' */